In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Kaggle Datasets

In [2]:
crop_rec = pd.read_csv('Kaggle Datasets/Agriculture/Crop_recommendation.csv')
crop_yield = pd.read_csv('Kaggle Datasets/Agriculture/crop_yield.csv')

In [4]:
crop_rec.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [9]:
crop_rec.shape

(2200, 8)

In [21]:
len(crop_rec['label'].unique())

22

In [5]:
crop_yield.head()

,Crop,Crop_Year,Season,State,Area,Production,Annual_Rainfall,Fertilizer,Pesticide,Yield
0,Arecanut,1997,Whole Year,Assam,73814.0,56708,2051.4,7024878.38,22882.34,0.796087
1,Arhar/Tur,1997,Kharif,Assam,6637.0,4685,2051.4,631643.29,2057.47,0.710435
2,Castor seed,1997,Kharif,Assam,796.0,22,2051.4,75755.32,246.76,0.238333
3,Coconut,1997,Whole Year,Assam,19656.0,126905000,2051.4,1870661.52,6093.36,5238.051739
4,Cotton(lint),1997,Kharif,Assam,1739.0,794,2051.4,165500.63,539.09,0.420909

In [6]:
crop_yield.shape

(19689, 10)

In [8]:
crop_yield.Crop_Year.value_counts()

Crop_Year
2019    1079
2017    1070
2018    1063
2016    1036
2015     998
2013     976
2014     965
2011     907
2012     894
2009     865
2010     859
2008     847
2007     828
2006     823
2002     815
2005     811
2003     801
2004     787
2000     772
2001     750
1999     650
1998     646
1997     410
2020      37
Name: count, dtype: int64

In [11]:
crop_yield.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19689 entries, 0 to 19688
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Crop             19689 non-null  object
 1   Crop_Year        19689 non-null  int64
 2   Season           19689 non-null  object
 3   State            19689 non-null  object
 4   Area             19689 non-null  float64
 5   Production       19689 non-null  int64
 6   Annual_Rainfall  19689 non-null  float64
 7   Fertilizer       19689 non-null  float64
 8   Pesticide        19689 non-null  float64
 9   Yield            19689 non-null  float64
dtypes: float64(5), int64(2), object(3)
memory usage: 1.5+ MB

In [19]:
len(crop_yield['Crop'].unique())

55

In [30]:
for i in crop_rec['label'].unique():
    print(i)

rice
maize
chickpea
kidneybeans
pigeonpeas
mothbeans
mungbean
blackgram
lentil
pomegranate
banana
mango
grapes
watermelon
muskmelon
apple
orange
papaya
coconut
cotton
jute
coffee

In [59]:
len(crop_yield['Crop'].unique())

55

In [38]:
for i in crop_yield['Crop'].unique():
    print(i)

Arecanut
Arhar/Tur
Castor seed
Coconut
Cotton(lint)
Dry chillies
Gram
Jute
Linseed
Maize
Mesta
Niger seed
Onion
Other  Rabi pulses
Potato
Rapeseed &Mustard
Rice
Sesamum
Small millets
Sugarcane
Sweet potato
Tapioca
Tobacco
Turmeric
Wheat
Bajra
Black pepper
Cardamom
Coriander
Garlic
Ginger
Groundnut
Horse-gram
Jowar
Ragi
Cashewnut
Banana
Soyabean
Barley
Khesari
Masoor
Moong(Green Gram)
Other Kharif pulses
Safflower
Sannhamp
Sunflower
Urad
Peas & beans (Pulses)
other oilseeds
Other Cereals
Cowpea(Lobia)
Oilseeds total
Guar seed
Other Summer Pulses
Moth

In [41]:
same = []
different_i = []
different_j = []
for i in crop_yield['Crop'].unique():
    for j in crop_rec['label'].unique():
        i = str(i).lower()
        j = str(j).lower()
        if i == j:
            same.append(i)
        else:
            different_i.append(i)
            different_j.append(j)

In [42]:
same

['jute', 'maize', 'rice', 'banana']

In [43]:
rainfall = pd.read_csv('Kaggle Datasets/Indian Agriculture and Cimate Dataset/rainfall.csv')
temperature = pd.read_csv('Kaggle Datasets/Indian Agriculture and Cimate Dataset/temperature.csv')

In [44]:
rainfall.head()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANN,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,1961,26.1,34.8,26.0,28.5,77.6,192.9,336.6,287.6,234.9,122.2,21.7,10.4,1399.2,60.9,132.1,1052.0,154.2
1,1962,12.6,21.6,16.0,43.6,70.8,137.1,281.6,276.9,211.0,78.4,18.3,29.9,1198.0,34.3,130.4,906.6,126.7
2,1963,6.8,9.8,41.7,50.6,60.9,168.0,258.6,316.7,164.9,99.1,28.4,15.5,1220.9,16.6,153.1,908.2,142.9
3,1964,18.6,14.1,19.0,40.0,52.1,177.2,345.7,273.7,200.4,67.4,22.8,13.3,1244.4,32.7,111.1,997.0,103.5
4,1965,11.8,28.1,26.7,45.1,52.7,116.1,270.1,192.8,129.5,34.0,18.2,22.2,947.4,39.9,124.6,708.5,74.4

In [45]:
rainfall.shape

(58, 18)

In [46]:
rainfall['YEAR'].unique()

array([1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018])

In [47]:
temperature.head()

   YEAR  ANNUAL  JAN-FEB  MAR-MAY  JUN-SEP  OCT-DEC
0  1961   24.00    18.98    26.11    27.06    21.17
1  1962   24.04    18.91    25.91    27.14    21.47
2  1963   24.15    19.07    25.57    27.21    22.04
3  1964   24.10    18.83    26.38    26.90    21.58
4  1965   24.07    19.22    25.24    27.08    22.10

In [48]:
temperature.shape

(58, 6)

In [49]:
apples = pd.read_csv('Kaggle Datasets/Indian Agriculture and Cimate Dataset/Crops/apples.csv')

In [51]:
apples.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1961,1961,ha,44500,F,FAO estimate
1,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1962,1962,ha,38500,F,FAO estimate
2,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1963,1963,ha,33700,F,FAO estimate
3,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1964,1964,ha,26500,F,FAO estimate
4,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1965,1965,ha,21700,F,FAO estimate

In [50]:
apples.shape

(174, 14)

In [55]:
apples['Year'].unique()

array([1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971,
       1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993,
       1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018])

In [60]:
import os 

files = os.listdir('Kaggle Datasets/Indian Agriculture and Cimate Dataset/Crops')

In [61]:
files

['pineapples.csv',
 'potatoes.csv',
 'lettuce.csv',
 'eggplant.csv',
 'cabbage.csv',
 'cucumber.csv',
 'sesame.csv',
 'areca nuts.csv',
 'chilli green.csv',
 'lentils.csv',
 'carrots.csv',
 'okra.csv',
 'soyabean.csv',
 'safflower.csv',
 'barley.csv',
 'apricots.csv',
 'chilli dry.csv',
 'grapes.csv',
 'pepper.csv',
 'watermelon.csv',
 'cherries.csv',
 'peaches.csv',
 'lemons.csv',
 'beans green.csv',
 'fennel coriander.csv',
 'groundnuts.csv',
 'peas.csv',
 'garlic.csv',
 'rice.csv',
 'ginger.csv',
 'cashewnuts.csv',
 'beans dry.csv',
 'pumpkins.csv',
 'oranges.csv',
 'sugarcane.csv',
 'maize.csv',
 'pears.csv',
 'cauliflower.csv',
 'coffee.csv',
 'tomatoes.csv',
 'papaya.csv',
 'nutmeg.csv',
 'onions.csv',
 'apples.csv',
 'bananas.csv',
 'wheat.csv',
 'mangoes.csv',
 'coconuts.csv',
 'melons.csv']

In [62]:
apples['Domain'].value_counts()

Domain
Crops and livestock products    174
Name: count, dtype: int64

In [67]:
apples.head(169)

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code (FAO),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1961,1961,ha,44500,F,FAO estimate
1,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1962,1962,ha,38500,F,FAO estimate
2,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1963,1963,ha,33700,F,FAO estimate
3,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1964,1964,ha,26500,F,FAO estimate
4,QCL,Crops and livestock products,100,India,5312,Area harvested,515,Apples,1965,1965,ha,21700,F,FAO estimate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,QCL,Crops and livestock products,100,India,5510,Production,515,Apples,2009,2009,tonnes,1985000,NaN,Official data
165,QCL,Crops and livestock products,100,India,5510,Production,515,Apples,2010,2010,tonnes,1777200,NaN,Official data
166,QCL,Crops and livestock products,100,India,5510,Production,515,Apples,2011,2011,tonnes,2891000,NaN,Official data
167,QCL,Crops and livestock products,100,India,5510,Production,515,Apples,2012,2012,tonnes,2203400,NaN,Official data
168,QCL,Crops and livestock products,100,India,5510,Production,515,Apples,2013,2013,tonnes,1915000,NaN,Official data

## Tata Dataset

### Biophysical

In [69]:
landuse = pd.read_csv('Tata Dataset/Biophysical/Landuse.csv')
growing_period = pd.read_csv('Tata Dataset/Biophysical/Length of growing period.csv')
m_rainfall = pd.read_csv('Tata Dataset/Biophysical/Monthly Rainfall.csv')
n_rainfall = pd.read_csv('Tata Dataset/Biophysical/Normal Rainfall.csv')
soil_type = pd.read_csv('Tata Dataset/Biophysical/Soil Type.csv')

In [70]:
landuse.head()

,Dist Code,Year,State Code,State Name,Dist Name,TOTAL AREA (1000 ha),FOREST AREA (1000 ha),BARREN AND UNCULTIVABLE LAND AREA (1000 ha),LAND PUT TO NONAGRICULTURAL USE AREA (1000 ha),CULTIVABLE WASTE LAND AREA (1000 ha),PERMANENT PASTURES AREA (1000 ha),OTHER FALLOW AREA (1000 ha),CURRENT FALLOW AREA (1000 ha),NET CROPPED AREA (1000 ha),GROSS CROPPED AREA (1000 ha),CROPING INTENSITY (Percent)
0,1,1966,14,Chhattisgarh,Durg,1946.2,503.1,31.9,107.0,38.7,145.7,49.8,76.1,993.2,1082.4,108.98
1,1,1967,14,Chhattisgarh,Durg,1946.2,502.9,33.2,107.1,36.7,143.1,52.0,56.8,1014.0,1297.4,127.95
2,1,1968,14,Chhattisgarh,Durg,1946.2,501.2,34.1,110.2,36.7,141.6,45.1,45.9,1031.0,1337.6,129.74
3,1,1969,14,Chhattisgarh,Durg,1946.2,500.0,35.9,109.6,35.0,142.3,42.0,46.0,1035.0,1340.0,129.47
4,1,1970,14,Chhattisgarh,Durg,1946.2,498.9,34.3,113.0,33.1,141.7,44.5,45.9,1035.0,1383.0,133.62

In [206]:
dist_names= landuse['Dist Name'].unique()
state_names = landuse['State Name'].unique()

In [ ]:
dist_state = landuse['Dist Name']

In [208]:
state_names.sort()

In [209]:
state_names

array(['Andhra Pradesh', 'Assam', 'Bihar', 'Chhattisgarh', 'Gujarat',
       'Haryana', 'Himachal Pradesh', 'Jharkhand', 'Karnataka', 'Kerala',
       'Madhya Pradesh', 'Maharashtra', 'Odisha', 'Punjab', 'Rajasthan',
       'Tamil Nadu', 'Telangana', 'Uttar Pradesh', 'Uttarakhand',
       'West Bengal'], dtype=object)

In [203]:
dist_df = pd.DataFrame(dist_names)

In [205]:
dist_df

              0
0          Durg
1        Bastar
2        Raipur
3      Bilaspur
4       Raigarh
..          ...
305  Hazaribagh
306     Dhanbad
307     Palamau
308      Ranchi
309   Singhbhum

[310 rows x 1 columns]

In [117]:
landuse['Year'].unique()

array([1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976,
       1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020])

In [71]:
landuse.shape

(16964, 16)

In [76]:
len(landuse['State Name'].unique())

20

In [72]:
growing_period.head()

,Dist Code,Year,State Code,State Name,Dist Name,LENGTH OF GROWING PERIOD DAYS (Number)
0,1,Not Applicable,14,Chhattisgarh,Durg,164
1,2,Not Applicable,14,Chhattisgarh,Bastar,194
2,3,Not Applicable,14,Chhattisgarh,Raipur,201
3,4,Not Applicable,14,Chhattisgarh,Bilaspur,208
4,5,Not Applicable,14,Chhattisgarh,Raigarh,201

In [73]:
growing_period.shape

(313, 6)

In [75]:
len(growing_period['State Name'].unique())

20

In [77]:
m_rainfall.head()

,Dist Code,Year,State Code,State Name,Dist Name,JANUARY RAINFALL (Millimeters),FEBRUARY RAINFALL (Millimeters),MARCH RAINFALL (Millimeters),APRIL RAINFALL (Millimeters),MAY RAINFALL (Millimeters),JUNE RAINFALL (Millimeters),JULY RAINFALL (Millimeters),AUGUST RAINFALL (Millimeters),SEPTEMBER RAINFALL (Millimeters),OCTOBER RAINFALL (Millimeters),NOVEMBER RAINFALL (Millimeters),DECEMBER RAINFALL (Millimeters),ANNUAL RAINFALL (Millimeters)
0,1,1966,14,Chhattisgarh,Durg,1.4,0.0,0.0,8.9,38.6,169.5,249.5,182.6,112.6,4.8,0.9,1.0,769.8
1,1,1967,14,Chhattisgarh,Durg,0.1,0.0,73.4,0.6,0.0,237.5,342.9,428.8,142.8,3.3,0.0,34.2,1263.5
2,1,1968,14,Chhattisgarh,Durg,27.8,11.3,13.5,17.6,1.4,229.1,410.4,156.4,256.6,39.3,0.0,9.1,1172.3
3,1,1969,14,Chhattisgarh,Durg,0.6,0.0,0.0,15.3,16.5,98.3,375.8,239.1,180.9,2.5,0.0,0.0,929.0
4,1,1970,14,Chhattisgarh,Durg,8.3,7.9,32.9,0.2,2.3,317.2,535.9,410.9,139.0,29.7,0.0,0.0,1484.3

In [116]:
m_rainfall['Year'].unique()

array([1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976,
       1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2002, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2000, 2001, 2003])

In [78]:
m_rainfall.shape

(14527, 18)

In [79]:
len(m_rainfall['State Name'].unique())

20

In [80]:
n_rainfall.head()

,Dist Code,Year,State Code,State Name,Dist Name,JANUARY NORMAL RAINFALL (Millimeters),FEBRUARY NORMAL RAINFALL (Millimeters),MARCH NORMAL RAINFALL (Millimeters),APRIL NORMAL RAINFALL (Millimeters),MAY NORMAL RAINFALL (Millimeters),JUNE NORMAL RAINFALL (Millimeters),JULY NORMAL RAINFALL (Millimeters),AUGUST NORMAL RAINFALL (Millimeters),SEPTEMBER NORMAL RAINFALL (Millimeters),OCTOBER NORMAL RAINFALL (Millimeters),NOVEMBER NORMAL RAINFALL (Millimeters),DECEMBER NORMAL RAINFALL (Millimeters),ANNUAL NORMAL RAINFALL (Millimeters)
0,1,Average 30 years,14,Chhattisgarh,Durg,16.0,27.0,19.0,19.0,21.0,200.0,340.0,344.0,212.0,61.0,14.0,4.0,1277.0
1,2,Average 30 years,14,Chhattisgarh,Bastar,5.0,15.0,17.0,51.0,66.0,212.0,398.0,381.0,246.0,116.0,24.0,4.0,1535.0
2,3,Average 30 years,14,Chhattisgarh,Raipur,12.0,20.0,23.0,15.0,17.0,194.0,392.0,394.0,249.0,62.0,8.0,2.0,1388.0
3,4,Average 30 years,14,Chhattisgarh,Bilaspur,17.0,30.0,22.0,17.0,18.0,191.0,381.0,387.0,194.0,52.0,13.0,5.0,1327.0
4,5,Average 30 years,14,Chhattisgarh,Raigarh,18.0,16.0,21.0,8.0,14.0,168.0,475.0,508.0,341.0,57.0,1.0,1.0,1628.0

In [81]:
n_rainfall.shape

(313, 18)

In [82]:
len(n_rainfall['State Name'].unique())

20

In [83]:
soil_type.head()

,Dist Code,Year,State Code,State Name,Dist Name,SOIL TYPE PERCENT (Percent)
0,1,Not Applicable,14,Chhattisgarh,Durg,LOAMY ALFISOLS - 60% ; USTALF/USTOLLS - 40%
1,2,Not Applicable,14,Chhattisgarh,Bastar,LOAMY ALFISOL - 100%
2,3,Not Applicable,14,Chhattisgarh,Raipur,USTALF/USTOLLS - 50% ; LOAMY ALFISOLS - 25% ; ...
3,4,Not Applicable,14,Chhattisgarh,Bilaspur,USTALF/USTOLLS - 100%
4,5,Not Applicable,14,Chhattisgarh,Raigarh,USTALF/USTOLLS - 100%

In [84]:
soil_type.shape

(313, 6)

In [85]:
len(soil_type['State Name'].unique())

20

In [94]:
soil_n_rainfall = pd.merge(soil_type,n_rainfall,how='outer',on=['Dist Code','State Code','State Name','Dist Name'])

In [95]:
soil_n_rainfall

,Dist Code,Year_x,State Code,State Name,Dist Name,SOIL TYPE PERCENT (Percent),Year_y,JANUARY NORMAL RAINFALL (Millimeters),FEBRUARY NORMAL RAINFALL (Millimeters),MARCH NORMAL RAINFALL (Millimeters),APRIL NORMAL RAINFALL (Millimeters),MAY NORMAL RAINFALL (Millimeters),JUNE NORMAL RAINFALL (Millimeters),JULY NORMAL RAINFALL (Millimeters),AUGUST NORMAL RAINFALL (Millimeters),SEPTEMBER NORMAL RAINFALL (Millimeters),OCTOBER NORMAL RAINFALL (Millimeters),NOVEMBER NORMAL RAINFALL (Millimeters),DECEMBER NORMAL RAINFALL (Millimeters),ANNUAL NORMAL RAINFALL (Millimeters)
0,1,Not Applicable,14,Chhattisgarh,Durg,LOAMY ALFISOLS - 60% ; USTALF/USTOLLS - 40%,Average 30 years,16.0,27.0,19.0,19.0,21.0,200.0,340.0,344.0,212.0,61.0,14.0,4.0,1277.0
1,2,Not Applicable,14,Chhattisgarh,Bastar,LOAMY ALFISOL - 100%,Average 30 years,5.0,15.0,17.0,51.0,66.0,212.0,398.0,381.0,246.0,116.0,24.0,4.0,1535.0
2,3,Not Applicable,14,Chhattisgarh,Raipur,USTALF/USTOLLS - 50% ; LOAMY ALFISOLS - 25% ; ...,Average 30 years,12.0,20.0,23.0,15.0,17.0,194.0,392.0,394.0,249.0,62.0,8.0,2.0,1388.0
3,4,Not Applicable,14,Chhattisgarh,Bilaspur,USTALF/USTOLLS - 100%,Average 30 years,17.0,30.0,22.0,17.0,18.0,191.0,381.0,387.0,194.0,52.0,13.0,5.0,1327.0
4,5,Not Applicable,14,Chhattisgarh,Raigarh,USTALF/USTOLLS - 100%,Average 30 years,18.0,16.0,21.0,8.0,14.0,168.0,475.0,508.0,341.0,57.0,1.0,1.0,1628.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,914,Not Applicable,15,Jharkhand,Dhanbad,USTALF/USTOLLS - 100%,Average 30 years,16.0,22.0,16.0,16.0,41.0,160.0,249.0,347.0,229.0,90.0,9.0,3.0,1198.0
309,915,Not Applicable,15,Jharkhand,Palamau,USTALF/USTOLLS - 100%,Average 30 years,31.0,27.0,21.0,9.0,13.0,140.0,346.0,358.0,224.0,57.0,7.0,4.0,1237.0
310,916,Not Applicable,15,Jharkhand,Ranchi,USTALF/USTOLLS - 100%,Average 30 years,24.0,39.0,28.0,23.0,50.0,202.0,360.0,354.0,256.0,105.0,17.0,4.0,1462.0
311,917,Not Applicable,15,Jharkhand,Singhbhum,USTALF/USTOLLS - 100%,Average 30 years,15.0,28.0,24.0,27.0,66.0,197.0,336.0,336.0,217.0,88.0,19.0,2.0,1353.0
312,999,Not Applicable,11,Tamil Nadu,Chennai,NaN,Average 30 years,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [96]:
merged2 = pd.merge(soil_n_rainfall, growing_period, how='outer',on=['Dist Code','State Code','State Name','Dist Name'])

In [125]:
merged2

,Dist Code,State Code,State Name,Dist Name,SOIL TYPE PERCENT (Percent),JANUARY NORMAL RAINFALL (Millimeters),FEBRUARY NORMAL RAINFALL (Millimeters),MARCH NORMAL RAINFALL (Millimeters),APRIL NORMAL RAINFALL (Millimeters),MAY NORMAL RAINFALL (Millimeters),JUNE NORMAL RAINFALL (Millimeters),JULY NORMAL RAINFALL (Millimeters),AUGUST NORMAL RAINFALL (Millimeters),SEPTEMBER NORMAL RAINFALL (Millimeters),OCTOBER NORMAL RAINFALL (Millimeters),NOVEMBER NORMAL RAINFALL (Millimeters),DECEMBER NORMAL RAINFALL (Millimeters),ANNUAL NORMAL RAINFALL (Millimeters),LENGTH OF GROWING PERIOD DAYS (Number)
0,1,14,Chhattisgarh,Durg,LOAMY ALFISOLS - 60% ; USTALF/USTOLLS - 40%,16.0,27.0,19.0,19.0,21.0,200.0,340.0,344.0,212.0,61.0,14.0,4.0,1277.0,164
1,2,14,Chhattisgarh,Bastar,LOAMY ALFISOL - 100%,5.0,15.0,17.0,51.0,66.0,212.0,398.0,381.0,246.0,116.0,24.0,4.0,1535.0,194
2,3,14,Chhattisgarh,Raipur,USTALF/USTOLLS - 50% ; LOAMY ALFISOLS - 25% ; ...,12.0,20.0,23.0,15.0,17.0,194.0,392.0,394.0,249.0,62.0,8.0,2.0,1388.0,201
3,4,14,Chhattisgarh,Bilaspur,USTALF/USTOLLS - 100%,17.0,30.0,22.0,17.0,18.0,191.0,381.0,387.0,194.0,52.0,13.0,5.0,1327.0,208
4,5,14,Chhattisgarh,Raigarh,USTALF/USTOLLS - 100%,18.0,16.0,21.0,8.0,14.0,168.0,475.0,508.0,341.0,57.0,1.0,1.0,1628.0,201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,914,15,Jharkhand,Dhanbad,USTALF/USTOLLS - 100%,16.0,22.0,16.0,16.0,41.0,160.0,249.0,347.0,229.0,90.0,9.0,3.0,1198.0,210
309,915,15,Jharkhand,Palamau,USTALF/USTOLLS - 100%,31.0,27.0,21.0,9.0,13.0,140.0,346.0,358.0,224.0,57.0,7.0,4.0,1237.0,201
310,916,15,Jharkhand,Ranchi,USTALF/USTOLLS - 100%,24.0,39.0,28.0,23.0,50.0,202.0,360.0,354.0,256.0,105.0,17.0,4.0,1462.0,277
311,917,15,Jharkhand,Singhbhum,USTALF/USTOLLS - 100%,15.0,28.0,24.0,27.0,66.0,197.0,336.0,336.0,217.0,88.0,19.0,2.0,1353.0,245
312,999,11,Tamil Nadu,Chennai,NaN,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1

In [121]:
merged2.drop(columns=['Year_x', 'Year_y', 'Year'],inplace=True)

In [122]:
merged2.isnull().sum()

Dist Code                                  0
State Code                                 0
State Name                                 0
Dist Name                                  0
SOIL TYPE PERCENT (Percent)                3
JANUARY NORMAL RAINFALL (Millimeters)      0
FEBRUARY NORMAL RAINFALL (Millimeters)     0
MARCH NORMAL RAINFALL (Millimeters)        0
APRIL NORMAL RAINFALL (Millimeters)        0
MAY NORMAL RAINFALL (Millimeters)          0
JUNE NORMAL RAINFALL (Millimeters)         0
JULY NORMAL RAINFALL (Millimeters)         0
AUGUST NORMAL RAINFALL (Millimeters)       0
SEPTEMBER NORMAL RAINFALL (Millimeters)    0
OCTOBER NORMAL RAINFALL (Millimeters)      0
NOVEMBER NORMAL RAINFALL (Millimeters)     0
DECEMBER NORMAL RAINFALL (Millimeters)     0
ANNUAL NORMAL RAINFALL (Millimeters)       0
LENGTH OF GROWING PERIOD DAYS (Number)     0
dtype: int64

In [109]:
landuse_m_rainfall = pd.merge(landuse, m_rainfall, how='inner',on=['Dist Code','State Code','Year', 'State Name','Dist Name'])

In [110]:
landuse_m_rainfall

,Dist Code,Year,State Code,State Name,Dist Name,TOTAL AREA (1000 ha),FOREST AREA (1000 ha),BARREN AND UNCULTIVABLE LAND AREA (1000 ha),LAND PUT TO NONAGRICULTURAL USE AREA (1000 ha),CULTIVABLE WASTE LAND AREA (1000 ha),...,APRIL RAINFALL (Millimeters),MAY RAINFALL (Millimeters),JUNE RAINFALL (Millimeters),JULY RAINFALL (Millimeters),AUGUST RAINFALL (Millimeters),SEPTEMBER RAINFALL (Millimeters),OCTOBER RAINFALL (Millimeters),NOVEMBER RAINFALL (Millimeters),DECEMBER RAINFALL (Millimeters),ANNUAL RAINFALL (Millimeters)
0,1,1966,14,Chhattisgarh,Durg,1946.2,503.10,31.90,107.00,38.70,...,8.9,38.6,169.5,249.5,182.6,112.6,4.8,0.9,1.0,769.8
1,1,1967,14,Chhattisgarh,Durg,1946.2,502.90,33.20,107.10,36.70,...,0.6,0.0,237.5,342.9,428.8,142.8,3.3,0.0,34.2,1263.5
2,1,1968,14,Chhattisgarh,Durg,1946.2,501.20,34.10,110.20,36.70,...,17.6,1.4,229.1,410.4,156.4,256.6,39.3,0.0,9.1,1172.3
3,1,1969,14,Chhattisgarh,Durg,1946.2,500.00,35.90,109.60,35.00,...,15.3,16.5,98.3,375.8,239.1,180.9,2.5,0.0,0.0,929.0
4,1,1970,14,Chhattisgarh,Durg,1946.2,498.90,34.30,113.00,33.10,...,0.2,2.3,317.2,535.9,410.9,139.0,29.7,0.0,0.0,1484.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13253,917,2011,15,Jharkhand,Singhbhum,1361.7,332.15,121.21,220.40,85.54,...,47.3,92.8,367.0,211.9,396.0,393.2,37.5,0.0,0.0,1578.1
13254,917,2012,15,Jharkhand,Singhbhum,1361.7,332.16,122.03,208.57,89.57,...,29.5,17.4,167.5,291.7,273.8,234.4,33.9,49.6,25.8,1176.5
13255,917,2013,15,Jharkhand,Singhbhum,1361.7,332.16,118.58,206.03,88.75,...,41.4,131.5,237.0,287.4,270.1,280.2,366.1,0.0,0.0,1626.4
13256,917,2014,15,Jharkhand,Singhbhum,1361.7,332.16,118.58,206.03,88.75,...,1.3,98.3,257.2,365.1,369.4,143.5,106.3,0.0,0.1,1431.2
13257,917,2015,15,Jharkhand,Singhbhum,1361.7,332.16,119.93,208.97,90.64,...,97.4,50.6,189.7,454.3,168.3,125.9,43.8,0.0,7.4,1158.4

In [118]:
landuse_m_rainfall.isnull().sum()

Dist Code                                         0
Year                                              0
State Code                                        0
State Name                                        0
Dist Name                                         0
TOTAL AREA (1000 ha)                              0
FOREST AREA (1000 ha)                             0
BARREN AND UNCULTIVABLE LAND AREA (1000 ha)       0
LAND PUT TO NONAGRICULTURAL USE AREA (1000 ha)    0
CULTIVABLE WASTE LAND AREA (1000 ha)              0
PERMANENT PASTURES AREA (1000 ha)                 0
OTHER FALLOW AREA (1000 ha)                       0
CURRENT FALLOW AREA (1000 ha)                     0
NET CROPPED AREA (1000 ha)                        0
GROSS CROPPED AREA (1000 ha)                      0
CROPING INTENSITY (Percent)                       0
JANUARY RAINFALL (Millimeters)                    0
FEBRUARY RAINFALL (Millimeters)                   0
MARCH RAINFALL (Millimeters)                      0
APRIL RAINFALL (Millimeters)                      0
MAY RAINFALL (Millimeters)                        0
JUNE RAINFALL (Millimeters)                       0
JULY RAINFALL (Millimeters)                       0
AUGUST RAINFALL (Millimeters)                     0
SEPTEMBER RAINFALL (Millimeters)                  0
OCTOBER RAINFALL (Millimeters)                    0
NOVEMBER RAINFALL (Millimeters)                   0
DECEMBER RAINFALL (Millimeters)                   0
ANNUAL RAINFALL (Millimeters)                     0
dtype: int64

In [123]:
biophysical_df = pd.merge(landuse_m_rainfall, merged2, how='inner',on=['Dist Code','State Code', 'State Name','Dist Name'])

In [124]:
biophysical_df

,Dist Code,Year,State Code,State Name,Dist Name,TOTAL AREA (1000 ha),FOREST AREA (1000 ha),BARREN AND UNCULTIVABLE LAND AREA (1000 ha),LAND PUT TO NONAGRICULTURAL USE AREA (1000 ha),CULTIVABLE WASTE LAND AREA (1000 ha),...,MAY NORMAL RAINFALL (Millimeters),JUNE NORMAL RAINFALL (Millimeters),JULY NORMAL RAINFALL (Millimeters),AUGUST NORMAL RAINFALL (Millimeters),SEPTEMBER NORMAL RAINFALL (Millimeters),OCTOBER NORMAL RAINFALL (Millimeters),NOVEMBER NORMAL RAINFALL (Millimeters),DECEMBER NORMAL RAINFALL (Millimeters),ANNUAL NORMAL RAINFALL (Millimeters),LENGTH OF GROWING PERIOD DAYS (Number)
0,1,1966,14,Chhattisgarh,Durg,1946.2,503.10,31.90,107.00,38.70,...,21.0,200.0,340.0,344.0,212.0,61.0,14.0,4.0,1277.0,164
1,1,1967,14,Chhattisgarh,Durg,1946.2,502.90,33.20,107.10,36.70,...,21.0,200.0,340.0,344.0,212.0,61.0,14.0,4.0,1277.0,164
2,1,1968,14,Chhattisgarh,Durg,1946.2,501.20,34.10,110.20,36.70,...,21.0,200.0,340.0,344.0,212.0,61.0,14.0,4.0,1277.0,164
3,1,1969,14,Chhattisgarh,Durg,1946.2,500.00,35.90,109.60,35.00,...,21.0,200.0,340.0,344.0,212.0,61.0,14.0,4.0,1277.0,164
4,1,1970,14,Chhattisgarh,Durg,1946.2,498.90,34.30,113.00,33.10,...,21.0,200.0,340.0,344.0,212.0,61.0,14.0,4.0,1277.0,164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13253,917,2011,15,Jharkhand,Singhbhum,1361.7,332.15,121.21,220.40,85.54,...,66.0,197.0,336.0,336.0,217.0,88.0,19.0,2.0,1353.0,245
13254,917,2012,15,Jharkhand,Singhbhum,1361.7,332.16,122.03,208.57,89.57,...,66.0,197.0,336.0,336.0,217.0,88.0,19.0,2.0,1353.0,245
13255,917,2013,15,Jharkhand,Singhbhum,1361.7,332.16,118.58,206.03,88.75,...,66.0,197.0,336.0,336.0,217.0,88.0,19.0,2.0,1353.0,245
13256,917,2014,15,Jharkhand,Singhbhum,1361.7,332.16,118.58,206.03,88.75,...,66.0,197.0,336.0,336.0,217.0,88.0,19.0,2.0,1353.0,245
13257,917,2015,15,Jharkhand,Singhbhum,1361.7,332.16,119.93,208.97,90.64,...,66.0,197.0,336.0,336.0,217.0,88.0,19.0,2.0,1353.0,245

In [126]:
biophysical_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13258 entries, 0 to 13257
Data columns (total 44 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Dist Code                                       13258 non-null  int64
 1   Year                                            13258 non-null  int64
 2   State Code                                      13258 non-null  int64
 3   State Name                                      13258 non-null  object
 4   Dist Name                                       13258 non-null  object
 5   TOTAL AREA (1000 ha)                            13258 non-null  float64
 6   FOREST AREA (1000 ha)                           13258 non-null  float64
 7   BARREN AND UNCULTIVABLE LAND AREA (1000 ha)     13258 non-null  float64
 8   LAND PUT TO NONAGRICULTURAL USE AREA (1000 ha)  13258 non-null  float64
 9   CULTIVABLE WASTE LAND AREA (1000 ha)            13258 non-null  float64
 10  PERMANENT PASTURES AREA (1000 ha)               13258 non-null  float64
 11  OTHER FALLOW AREA (1000 ha)                     13258 non-null  float64
 12  CURRENT FALLOW AREA (1000 ha)                   13258 non-null  float64
 13  NET CROPPED AREA (1000 ha)                      13258 non-null  float64
 14  GROSS CROPPED AREA (1000 ha)                    13258 non-null  float64
 15  CROPING INTENSITY (Percent)                     13258 non-null  float64
 16  JANUARY RAINFALL (Millimeters)                  13258 non-null  float64
 17  FEBRUARY RAINFALL (Millimeters)                 13258 non-null  float64
 18  MARCH RAINFALL (Millimeters)                    13258 non-null  float64
 19  APRIL RAINFALL (Millimeters)                    13258 non-null  float64
 20  MAY RAINFALL (Millimeters)                      13258 non-null  float64
 21  JUNE RAINFALL (Millimeters)                     13258 non-null  float64
 22  JULY RAINFALL (Millimeters)                     13258 non-null  float64
 23  AUGUST RAINFALL (Millimeters)                   13258 non-null  float64
 24  SEPTEMBER RAINFALL (Millimeters)                13258 non-null  float64
 25  OCTOBER RAINFALL (Millimeters)                  13258 non-null  float64
 26  NOVEMBER RAINFALL (Millimeters)                 13258 non-null  float64
 27  DECEMBER RAINFALL (Millimeters)                 13258 non-null  float64
 28  ANNUAL RAINFALL (Millimeters)                   13258 non-null  float64
 29  SOIL TYPE PERCENT (Percent)                     13158 non-null  object
 30  JANUARY NORMAL RAINFALL (Millimeters)           13258 non-null  float64
 31  FEBRUARY NORMAL RAINFALL (Millimeters)          13258 non-null  float64
 32  MARCH NORMAL RAINFALL (Millimeters)             13258 non-null  float64
 33  APRIL NORMAL RAINFALL (Millimeters)             13258 non-null  float64
 34  MAY NORMAL RAINFALL (Millimeters)               13258 non-null  float64
 35  JUNE NORMAL RAINFALL (Millimeters)              13258 non-null  float64
 36  JULY NORMAL RAINFALL (Millimeters)              13258 non-null  float64
 37  AUGUST NORMAL RAINFALL (Millimeters)            13258 non-null  float64
 38  SEPTEMBER NORMAL RAINFALL (Millimeters)         13258 non-null  float64
 39  OCTOBER NORMAL RAINFALL (Millimeters)           13258 non-null  float64
 40  NOVEMBER NORMAL RAINFALL (Millimeters)          13258 non-null  float64
 41  DECEMBER NORMAL RAINFALL (Millimeters)          13258 non-null  float64
 42  ANNUAL NORMAL RAINFALL (Millimeters)            13258 non-null  float64
 43  LENGTH OF GROWING PERIOD DAYS (Number)          13258 non-null  int64
dtypes: float64(37), int64(4), object(3)
memory usage: 4.5+ MB

### Crops

In [127]:
area_prod = pd.read_csv('Tata Dataset/Crops/Area of production yield.csv')
high_yield = pd.read_csv('Tata Dataset/Crops/Area of production yield.csv')

In [128]:
area_prod.head()

,Dist Code,Year,State Code,State Name,Dist Name,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha),WHEAT AREA (1000 ha),WHEAT PRODUCTION (1000 tons),...,SUGARCANE YIELD (Kg per ha),COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),FRUITS AREA (1000 ha),VEGETABLES AREA (1000 ha),FRUITS AND VEGETABLES AREA (1000 ha),POTATOES AREA (1000 ha),ONION AREA (1000 ha),FODDER AREA (1000 ha)
0,1,1966,14,Chhattisgarh,Durg,548.0,185.0,337.59,44.0,20.0,...,1777.78,0.0,0.0,0.0,5.95,6.64,12.59,0.01,0.60,0.47
1,1,1967,14,Chhattisgarh,Durg,547.0,409.0,747.71,50.0,26.0,...,1500.00,0.0,0.0,0.0,5.77,7.24,13.02,0.01,0.56,1.23
2,1,1968,14,Chhattisgarh,Durg,556.3,468.0,841.27,53.7,30.0,...,1000.00,0.0,0.0,0.0,5.41,7.40,12.81,0.10,0.58,1.02
3,1,1969,14,Chhattisgarh,Durg,563.4,400.8,711.40,49.4,26.5,...,1900.00,0.0,0.0,0.0,5.52,7.16,12.69,0.01,0.56,0.84
4,1,1970,14,Chhattisgarh,Durg,571.6,473.6,828.55,44.2,29.0,...,2000.00,0.0,0.0,0.0,5.45,7.19,12.64,0.02,0.52,0.42

In [129]:
area_prod.shape

(16146, 80)

In [130]:
len(area_prod['State Name'].unique())

20

In [131]:
area_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16146 entries, 0 to 16145
Data columns (total 80 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Dist Code                                    16146 non-null  int64
 1   Year                                         16146 non-null  int64
 2   State Code                                   16146 non-null  int64
 3   State Name                                   16146 non-null  object
 4   Dist Name                                    16146 non-null  object
 5   RICE AREA (1000 ha)                          16146 non-null  float64
 6   RICE PRODUCTION (1000 tons)                  16146 non-null  float64
 7   RICE YIELD (Kg per ha)                       16146 non-null  float64
 8   WHEAT AREA (1000 ha)                         16146 non-null  float64
 9   WHEAT PRODUCTION (1000 tons)                 16146 non-null  float64
 10  WHEAT YIELD (Kg per ha)                      16146 non-null  float64
 11  KHARIF SORGHUM AREA (1000 ha)                16146 non-null  float64
 12  KHARIF SORGHUM PRODUCTION (1000 tons)        16146 non-null  float64
 13  KHARIF SORGHUM YIELD (Kg per ha)             16146 non-null  float64
 14  RABI SORGHUM AREA (1000 ha)                  16146 non-null  float64
 15  RABI SORGHUM PRODUCTION (1000 tons)          16146 non-null  float64
 16  RABI SORGHUM YIELD (Kg per ha)               16146 non-null  float64
 17  SORGHUM AREA (1000 ha)                       16146 non-null  float64
 18  SORGHUM PRODUCTION (1000 tons)               16146 non-null  float64
 19  SORGHUM YIELD (Kg per ha)                    16146 non-null  float64
 20  PEARL MILLET AREA (1000 ha)                  16146 non-null  float64
 21  PEARL MILLET PRODUCTION (1000 tons)          16146 non-null  float64
 22  PEARL MILLET YIELD (Kg per ha)               16146 non-null  float64
 23  MAIZE AREA (1000 ha)                         16146 non-null  float64
 24  MAIZE PRODUCTION (1000 tons)                 16146 non-null  float64
 25  MAIZE YIELD (Kg per ha)                      16146 non-null  float64
 26  FINGER MILLET AREA (1000 ha)                 16146 non-null  float64
 27  FINGER MILLET PRODUCTION (1000 tons)         16146 non-null  float64
 28  FINGER MILLET YIELD (Kg per ha)              16146 non-null  float64
 29  BARLEY AREA (1000 ha)                        16146 non-null  float64
 30  BARLEY PRODUCTION (1000 tons)                16146 non-null  float64
 31  BARLEY YIELD (Kg per ha)                     16146 non-null  float64
 32  CHICKPEA AREA (1000 ha)                      16146 non-null  float64
 33  CHICKPEA PRODUCTION (1000 tons)              16146 non-null  float64
 34  CHICKPEA YIELD (Kg per ha)                   16146 non-null  float64
 35  PIGEONPEA AREA (1000 ha)                     16146 non-null  float64
 36  PIGEONPEA PRODUCTION (1000 tons)             16146 non-null  float64
 37  PIGEONPEA YIELD (Kg per ha)                  16146 non-null  float64
 38  MINOR PULSES AREA (1000 ha)                  16146 non-null  float64
 39  MINOR PULSES PRODUCTION (1000 tons)          16146 non-null  float64
 40  MINOR PULSES YIELD (Kg per ha)               16146 non-null  float64
 41  GROUNDNUT AREA (1000 ha)                     16146 non-null  float64
 42  GROUNDNUT PRODUCTION (1000 tons)             16146 non-null  float64
 43  GROUNDNUT YIELD (Kg per ha)                  16146 non-null  float64
 44  SESAMUM AREA (1000 ha)                       16146 non-null  float64
 45  SESAMUM PRODUCTION (1000 tons)               16146 non-null  float64
 46  SESAMUM YIELD (Kg per ha)                    16146 non-null  float64
 47  RAPESEED AND MUSTARD AREA (1000 ha)          16146 non-null  float64
 48  RAPESEED AND MUSTARD PRODUCTION (1000 tons)  16146 non-null  float64
 49  RAPESEED AND MUSTARD YIELD (Kg per ha)       16146 non-null  float64
 50  SAFFLOWER AREA (1000 ha)                     16146 non-null  float64
 51  SAFFLOWER PRODUCTION (1000 tons)             16146 non-null  float64
 52  SAFFLOWER YIELD (Kg per ha)                  16146 non-null  float64
 53  CASTOR AREA (1000 ha)                        16146 non-null  float64
 54  CASTOR PRODUCTION (1000 tons)                16146 non-null  float64
 55  CASTOR YIELD (Kg per ha)                     16146 non-null  float64
 56  LINSEED AREA (1000 ha)                       16146 non-null  float64
 57  LINSEED PRODUCTION (1000 tons)               16146 non-null  float64
 58  LINSEED YIELD (Kg per ha)                    16146 non-null  float64
 59  SUNFLOWER AREA (1000 ha)                     16146 non-null  float64
 60  SUNFLOWER PRODUCTION (1000 tons)             16146 non-null  float64
 61  SUNFLOWER YIELD (Kg per ha)                  16146 non-null  float64
 62  SOYABEAN AREA (1000 ha)                      16146 non-null  float64
 63  SOYABEAN PRODUCTION (1000 tons)              16146 non-null  float64
 64  SOYABEAN YIELD (Kg per ha)                   16146 non-null  float64
 65  OILSEEDS AREA (1000 ha)                      16146 non-null  float64
 66  OILSEEDS PRODUCTION (1000 tons)              16146 non-null  float64
 67  OILSEEDS YIELD (Kg per ha)                   16146 non-null  float64
 68  SUGARCANE AREA (1000 ha)                     16146 non-null  float64
 69  SUGARCANE PRODUCTION (1000 tons)             16146 non-null  float64
 70  SUGARCANE YIELD (Kg per ha)                  16146 non-null  float64
 71  COTTON AREA (1000 ha)                        16146 non-null  float64
 72  COTTON PRODUCTION (1000 tons)                16146 non-null  float64
 73  COTTON YIELD (Kg per ha)                     16146 non-null  float64
 74  FRUITS AREA (1000 ha)                        16146 non-null  float64
 75  VEGETABLES AREA (1000 ha)                    16146 non-null  float64
 76  FRUITS AND VEGETABLES AREA (1000 ha)         16146 non-null  float64
 77  POTATOES AREA (1000 ha)                      16146 non-null  float64
 78  ONION AREA (1000 ha)                         16146 non-null  float64
 79  FODDER AREA (1000 ha)                        16146 non-null  float64
dtypes: float64(75), int64(3), object(2)
memory usage: 9.9+ MB

In [132]:
high_yield.head()

,Dist Code,Year,State Code,State Name,Dist Name,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha),WHEAT AREA (1000 ha),WHEAT PRODUCTION (1000 tons),...,SUGARCANE YIELD (Kg per ha),COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),FRUITS AREA (1000 ha),VEGETABLES AREA (1000 ha),FRUITS AND VEGETABLES AREA (1000 ha),POTATOES AREA (1000 ha),ONION AREA (1000 ha),FODDER AREA (1000 ha)
0,1,1966,14,Chhattisgarh,Durg,548.0,185.0,337.59,44.0,20.0,...,1777.78,0.0,0.0,0.0,5.95,6.64,12.59,0.01,0.60,0.47
1,1,1967,14,Chhattisgarh,Durg,547.0,409.0,747.71,50.0,26.0,...,1500.00,0.0,0.0,0.0,5.77,7.24,13.02,0.01,0.56,1.23
2,1,1968,14,Chhattisgarh,Durg,556.3,468.0,841.27,53.7,30.0,...,1000.00,0.0,0.0,0.0,5.41,7.40,12.81,0.10,0.58,1.02
3,1,1969,14,Chhattisgarh,Durg,563.4,400.8,711.40,49.4,26.5,...,1900.00,0.0,0.0,0.0,5.52,7.16,12.69,0.01,0.56,0.84
4,1,1970,14,Chhattisgarh,Durg,571.6,473.6,828.55,44.2,29.0,...,2000.00,0.0,0.0,0.0,5.45,7.19,12.64,0.02,0.52,0.42

In [133]:
high_yield.shape

(16146, 80)

In [134]:
high_yield.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16146 entries, 0 to 16145
Data columns (total 80 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Dist Code                                    16146 non-null  int64
 1   Year                                         16146 non-null  int64
 2   State Code                                   16146 non-null  int64
 3   State Name                                   16146 non-null  object
 4   Dist Name                                    16146 non-null  object
 5   RICE AREA (1000 ha)                          16146 non-null  float64
 6   RICE PRODUCTION (1000 tons)                  16146 non-null  float64
 7   RICE YIELD (Kg per ha)                       16146 non-null  float64
 8   WHEAT AREA (1000 ha)                         16146 non-null  float64
 9   WHEAT PRODUCTION (1000 tons)                 16146 non-null  float64
 10  WHEAT YIELD (Kg per ha)                      16146 non-null  float64
 11  KHARIF SORGHUM AREA (1000 ha)                16146 non-null  float64
 12  KHARIF SORGHUM PRODUCTION (1000 tons)        16146 non-null  float64
 13  KHARIF SORGHUM YIELD (Kg per ha)             16146 non-null  float64
 14  RABI SORGHUM AREA (1000 ha)                  16146 non-null  float64
 15  RABI SORGHUM PRODUCTION (1000 tons)          16146 non-null  float64
 16  RABI SORGHUM YIELD (Kg per ha)               16146 non-null  float64
 17  SORGHUM AREA (1000 ha)                       16146 non-null  float64
 18  SORGHUM PRODUCTION (1000 tons)               16146 non-null  float64
 19  SORGHUM YIELD (Kg per ha)                    16146 non-null  float64
 20  PEARL MILLET AREA (1000 ha)                  16146 non-null  float64
 21  PEARL MILLET PRODUCTION (1000 tons)          16146 non-null  float64
 22  PEARL MILLET YIELD (Kg per ha)               16146 non-null  float64
 23  MAIZE AREA (1000 ha)                         16146 non-null  float64
 24  MAIZE PRODUCTION (1000 tons)                 16146 non-null  float64
 25  MAIZE YIELD (Kg per ha)                      16146 non-null  float64
 26  FINGER MILLET AREA (1000 ha)                 16146 non-null  float64
 27  FINGER MILLET PRODUCTION (1000 tons)         16146 non-null  float64
 28  FINGER MILLET YIELD (Kg per ha)              16146 non-null  float64
 29  BARLEY AREA (1000 ha)                        16146 non-null  float64
 30  BARLEY PRODUCTION (1000 tons)                16146 non-null  float64
 31  BARLEY YIELD (Kg per ha)                     16146 non-null  float64
 32  CHICKPEA AREA (1000 ha)                      16146 non-null  float64
 33  CHICKPEA PRODUCTION (1000 tons)              16146 non-null  float64
 34  CHICKPEA YIELD (Kg per ha)                   16146 non-null  float64
 35  PIGEONPEA AREA (1000 ha)                     16146 non-null  float64
 36  PIGEONPEA PRODUCTION (1000 tons)             16146 non-null  float64
 37  PIGEONPEA YIELD (Kg per ha)                  16146 non-null  float64
 38  MINOR PULSES AREA (1000 ha)                  16146 non-null  float64
 39  MINOR PULSES PRODUCTION (1000 tons)          16146 non-null  float64
 40  MINOR PULSES YIELD (Kg per ha)               16146 non-null  float64
 41  GROUNDNUT AREA (1000 ha)                     16146 non-null  float64
 42  GROUNDNUT PRODUCTION (1000 tons)             16146 non-null  float64
 43  GROUNDNUT YIELD (Kg per ha)                  16146 non-null  float64
 44  SESAMUM AREA (1000 ha)                       16146 non-null  float64
 45  SESAMUM PRODUCTION (1000 tons)               16146 non-null  float64
 46  SESAMUM YIELD (Kg per ha)                    16146 non-null  float64
 47  RAPESEED AND MUSTARD AREA (1000 ha)          16146 non-null  float64
 48  RAPESEED AND MUSTARD PRODUCTION (1000 tons)  16146 non-null  float64
 49  RAPESEED AND MUSTARD YIELD (Kg per ha)       16146 non-null  float64
 50  SAFFLOWER AREA (1000 ha)                     16146 non-null  float64
 51  SAFFLOWER PRODUCTION (1000 tons)             16146 non-null  float64
 52  SAFFLOWER YIELD (Kg per ha)                  16146 non-null  float64
 53  CASTOR AREA (1000 ha)                        16146 non-null  float64
 54  CASTOR PRODUCTION (1000 tons)                16146 non-null  float64
 55  CASTOR YIELD (Kg per ha)                     16146 non-null  float64
 56  LINSEED AREA (1000 ha)                       16146 non-null  float64
 57  LINSEED PRODUCTION (1000 tons)               16146 non-null  float64
 58  LINSEED YIELD (Kg per ha)                    16146 non-null  float64
 59  SUNFLOWER AREA (1000 ha)                     16146 non-null  float64
 60  SUNFLOWER PRODUCTION (1000 tons)             16146 non-null  float64
 61  SUNFLOWER YIELD (Kg per ha)                  16146 non-null  float64
 62  SOYABEAN AREA (1000 ha)                      16146 non-null  float64
 63  SOYABEAN PRODUCTION (1000 tons)              16146 non-null  float64
 64  SOYABEAN YIELD (Kg per ha)                   16146 non-null  float64
 65  OILSEEDS AREA (1000 ha)                      16146 non-null  float64
 66  OILSEEDS PRODUCTION (1000 tons)              16146 non-null  float64
 67  OILSEEDS YIELD (Kg per ha)                   16146 non-null  float64
 68  SUGARCANE AREA (1000 ha)                     16146 non-null  float64
 69  SUGARCANE PRODUCTION (1000 tons)             16146 non-null  float64
 70  SUGARCANE YIELD (Kg per ha)                  16146 non-null  float64
 71  COTTON AREA (1000 ha)                        16146 non-null  float64
 72  COTTON PRODUCTION (1000 tons)                16146 non-null  float64
 73  COTTON YIELD (Kg per ha)                     16146 non-null  float64
 74  FRUITS AREA (1000 ha)                        16146 non-null  float64
 75  VEGETABLES AREA (1000 ha)                    16146 non-null  float64
 76  FRUITS AND VEGETABLES AREA (1000 ha)         16146 non-null  float64
 77  POTATOES AREA (1000 ha)                      16146 non-null  float64
 78  ONION AREA (1000 ha)                         16146 non-null  float64
 79  FODDER AREA (1000 ha)                        16146 non-null  float64
dtypes: float64(75), int64(3), object(2)
memory usage: 9.9+ MB

In [154]:
crops_df = area_prod.copy()

### Inputs

In [135]:
fert_cons = pd.read_csv('Tata Dataset/Inputs/Fertilizer Consumption.csv')
seas_fert_cons = pd.read_csv('Tata Dataset/Inputs/Season Fertilizer Consumption.csv')

In [136]:
fert_cons.head()

,Dist Code,Year,State Code,State Name,Dist Name,NITROGEN CONSUMPTION (tons),NITROGEN SHARE IN NPK (Percent),NITROGEN PER HA OF NCA (Kg per ha),NITROGEN PER HA OF GCA (Kg per ha),PHOSPHATE CONSUMPTION (tons),PHOSPHATE SHARE IN NPK (Percent),PHOSPHATE PER HA OF NCA (Kg per ha),PHOSPHATE PER HA OF GCA (Kg per ha),POTASH CONSUMPTION (tons),POTASH SHARE IN NPK (Percent),POTASH PER HA OF NCA (Kg per ha),POTASH PER HA OF GCA (Kg per ha),TOTAL CONSUMPTION (tons),TOTAL PER HA OF NCA (Kg per ha),TOTAL PER HA OF GCA (Kg per ha)
0,1,1966,14,Chhattisgarh,Durg,1375.0,80.74,1.38,1.27,292.0,17.15,0.29,0.27,36.0,2.11,0.04,0.03,1703.0,1.71,1.57
1,1,1967,14,Chhattisgarh,Durg,1516.0,78.79,1.50,1.17,207.0,10.76,0.20,0.16,201.0,10.45,0.20,0.15,1924.0,1.90,1.48
2,1,1968,14,Chhattisgarh,Durg,3042.0,85.84,2.95,2.27,458.0,12.92,0.44,0.34,44.0,1.24,0.04,0.03,3544.0,3.44,2.65
3,1,1969,14,Chhattisgarh,Durg,4131.0,82.39,3.99,3.08,847.0,16.89,0.82,0.63,36.0,0.72,0.03,0.03,5014.0,4.84,3.74
4,1,1970,14,Chhattisgarh,Durg,4594.0,67.92,4.44,3.32,2024.0,29.92,1.96,1.46,146.0,2.16,0.14,0.11,6764.0,6.54,4.89

In [137]:
fert_cons.shape

(16047, 20)

In [138]:
seas_fert_cons.head()

,Dist Code,Year,State Code,State Name,Dist Name,NITROGEN KHARIF CONSUMPTION (tons),NITROGEN RABI CONSUMPTION (tons),PHOSPHATE KHARIF CONSUMPTION (tons),PHOSPHATE RABI CONSUMPTION (tons),POTASH KHARIF CONSUMPTION (tons),POTASH RABI CONSUMPTION (tons),TOTAL KHARIF CONSUMPTION (tons),TOTAL RABI CONSUMPTION (tons)
0,1,1990,14,Chhattisgarh,Durg,19473.0,2671.0,6665.0,2373.0,2173.0,1159.0,28311.0,6203.0
1,1,1991,14,Chhattisgarh,Durg,17068.0,2671.0,12021.0,2482.0,4254.0,1025.0,33343.0,6178.0
2,1,1992,14,Chhattisgarh,Durg,17068.0,2671.0,12021.0,2482.0,4254.0,1025.0,33343.0,6178.0
3,1,1993,14,Chhattisgarh,Durg,22535.0,2529.0,12724.0,2599.0,4443.0,791.0,39702.0,5919.0
4,1,1994,14,Chhattisgarh,Durg,25864.0,3097.0,12740.0,1766.0,2294.0,681.0,40898.0,5544.0

In [139]:
seas_fert_cons.shape

(8677, 13)

In [158]:
inputs_df = pd.merge(fert_cons,seas_fert_cons, how='inner',on=['Dist Code', 'Year','State Code', 'State Name','Dist Name'])

In [159]:
inputs_df.head()

,Dist Code,Year,State Code,State Name,Dist Name,NITROGEN CONSUMPTION (tons),NITROGEN SHARE IN NPK (Percent),NITROGEN PER HA OF NCA (Kg per ha),NITROGEN PER HA OF GCA (Kg per ha),PHOSPHATE CONSUMPTION (tons),...,TOTAL PER HA OF NCA (Kg per ha),TOTAL PER HA OF GCA (Kg per ha),NITROGEN KHARIF CONSUMPTION (tons),NITROGEN RABI CONSUMPTION (tons),PHOSPHATE KHARIF CONSUMPTION (tons),PHOSPHATE RABI CONSUMPTION (tons),POTASH KHARIF CONSUMPTION (tons),POTASH RABI CONSUMPTION (tons),TOTAL KHARIF CONSUMPTION (tons),TOTAL RABI CONSUMPTION (tons)
0,1,1990,14,Chhattisgarh,Durg,22144.0,64.16,21.33,16.24,9038.0,...,33.24,25.31,19473.0,2671.0,6665.0,2373.0,2173.0,1159.0,28311.0,6203.0
1,1,1991,14,Chhattisgarh,Durg,19739.0,49.95,19.00,14.57,14503.0,...,38.03,29.16,17068.0,2671.0,12021.0,2482.0,4254.0,1025.0,33343.0,6178.0
2,1,1992,14,Chhattisgarh,Durg,25064.0,54.94,24.09,18.42,15323.0,...,43.84,33.53,17068.0,2671.0,12021.0,2482.0,4254.0,1025.0,33343.0,6178.0
3,1,1993,14,Chhattisgarh,Durg,22998.0,60.08,21.95,16.19,12674.0,...,36.54,26.95,22535.0,2529.0,12724.0,2599.0,4443.0,791.0,39702.0,5919.0
4,1,1994,14,Chhattisgarh,Durg,28961.0,62.36,27.60,19.92,14506.0,...,44.25,31.94,25864.0,3097.0,12740.0,1766.0,2294.0,681.0,40898.0,5544.0

In [160]:
inputs_df.shape

(8677, 28)

### Irrigation

In [140]:
crop_wise_irr = pd.read_csv('Tata Dataset/Irrigation/Crop wise irrigated area.csv')
source_wise_irr = pd.read_csv('Tata Dataset/Irrigation/Source wise Irrigated area.csv')

In [141]:
crop_wise_irr.head()

,Dist Code,Year,State Code,State Name,Dist Name,RICE IRRIGATED AREA (1000 ha),WHEAT IRRIGATED AREA (1000 ha),KHARIF SORGHUM IRRIGATED AREA (1000 ha),RABI SORGHUM IRRIGATED AREA (1000 ha),SORGHUM IRRIGATED AREA (1000 ha),...,PIGEONPEA IRRIGATED AREA (1000 ha),MINOR PULSES IRRIGATED AREA (1000 ha),PULSES IRRIGATED AREA (1000 ha),GROUNDNUT IRRIGATED AREA (1000 ha),SESAMUM IRRIGATED AREA (1000 ha),LINSEED IRRIGATED AREA (1000 ha),SUGARCANE IRRIGATED AREA (1000 ha),COTTON IRRIGATED AREA (1000 ha),FRUITS AND VEGETABLES IRRIGATED AREA (1000 ha),FODDER IRRIGATED AREA (1000 ha)
0,1,1966,14,Chhattisgarh,Durg,73.3,0.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.0,2.0,0.00
1,1,1967,14,Chhattisgarh,Durg,100.7,0.6,0.0,0.0,0.0,...,0.0,0.1,0.1,0.0,0.0,0.0,0.1,0.0,2.2,0.01
2,1,1968,14,Chhattisgarh,Durg,124.6,0.9,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.0,2.4,0.00
3,1,1969,14,Chhattisgarh,Durg,130.8,0.8,0.0,0.0,0.0,...,0.0,0.1,0.1,0.0,0.0,0.0,0.1,0.0,2.2,0.00
4,1,1970,14,Chhattisgarh,Durg,131.3,1.0,0.0,0.0,0.0,...,0.0,0.1,0.1,0.0,0.0,0.0,0.1,0.0,2.3,0.01

In [143]:
crop_wise_irr.shape

(15943, 25)

In [142]:
source_wise_irr.head()

,Dist Code,Year,State Code,State Name,Dist Name,CANALS AREA (1000 ha),TANKS AREA (1000 ha),TUBE WELLS AREA (1000 ha),OTHER WELLS AREA (1000 ha),TOTAL WELLS AREA (1000 ha),OTHER SOURCES AREA (1000 ha),NET AREA (1000 ha),GROSS AREA (1000 ha)
0,1,1966,14,Chhattisgarh,Durg,52.6,12.4,0.0,2.63,2.63,9.3,77.0,77.0
1,1,1967,14,Chhattisgarh,Durg,90.2,5.7,0.0,3.07,3.07,5.8,104.8,104.8
2,1,1968,14,Chhattisgarh,Durg,106.2,9.7,0.0,2.16,2.16,9.4,127.5,129.1
3,1,1969,14,Chhattisgarh,Durg,111.0,10.1,0.0,2.79,2.79,11.8,135.2,135.2
4,1,1970,14,Chhattisgarh,Durg,113.1,9.3,0.0,3.03,3.03,10.3,134.2,135.8

In [144]:
source_wise_irr.shape

(16746, 13)

In [150]:
irrigation_df = pd.merge(crop_wise_irr, source_wise_irr, how='inner',on=['Dist Code', 'Year','State Code', 'State Name','Dist Name'])

In [151]:
irrigation_df.head()

,Dist Code,Year,State Code,State Name,Dist Name,RICE IRRIGATED AREA (1000 ha),WHEAT IRRIGATED AREA (1000 ha),KHARIF SORGHUM IRRIGATED AREA (1000 ha),RABI SORGHUM IRRIGATED AREA (1000 ha),SORGHUM IRRIGATED AREA (1000 ha),...,FRUITS AND VEGETABLES IRRIGATED AREA (1000 ha),FODDER IRRIGATED AREA (1000 ha),CANALS AREA (1000 ha),TANKS AREA (1000 ha),TUBE WELLS AREA (1000 ha),OTHER WELLS AREA (1000 ha),TOTAL WELLS AREA (1000 ha),OTHER SOURCES AREA (1000 ha),NET AREA (1000 ha),GROSS AREA (1000 ha)
0,1,1966,14,Chhattisgarh,Durg,73.3,0.5,0.0,0.0,0.0,...,2.0,0.00,52.6,12.4,0.0,2.63,2.63,9.3,77.0,77.0
1,1,1967,14,Chhattisgarh,Durg,100.7,0.6,0.0,0.0,0.0,...,2.2,0.01,90.2,5.7,0.0,3.07,3.07,5.8,104.8,104.8
2,1,1968,14,Chhattisgarh,Durg,124.6,0.9,0.0,0.0,0.0,...,2.4,0.00,106.2,9.7,0.0,2.16,2.16,9.4,127.5,129.1
3,1,1969,14,Chhattisgarh,Durg,130.8,0.8,0.0,0.0,0.0,...,2.2,0.00,111.0,10.1,0.0,2.79,2.79,11.8,135.2,135.2
4,1,1970,14,Chhattisgarh,Durg,131.3,1.0,0.0,0.0,0.0,...,2.3,0.01,113.1,9.3,0.0,3.03,3.03,10.3,134.2,135.8

In [152]:
irrigation_df.shape

(15763, 33)

### All Datasets

In [155]:
biophysical_df.head()

,Dist Code,Year,State Code,State Name,Dist Name,TOTAL AREA (1000 ha),FOREST AREA (1000 ha),BARREN AND UNCULTIVABLE LAND AREA (1000 ha),LAND PUT TO NONAGRICULTURAL USE AREA (1000 ha),CULTIVABLE WASTE LAND AREA (1000 ha),...,MAY NORMAL RAINFALL (Millimeters),JUNE NORMAL RAINFALL (Millimeters),JULY NORMAL RAINFALL (Millimeters),AUGUST NORMAL RAINFALL (Millimeters),SEPTEMBER NORMAL RAINFALL (Millimeters),OCTOBER NORMAL RAINFALL (Millimeters),NOVEMBER NORMAL RAINFALL (Millimeters),DECEMBER NORMAL RAINFALL (Millimeters),ANNUAL NORMAL RAINFALL (Millimeters),LENGTH OF GROWING PERIOD DAYS (Number)
0,1,1966,14,Chhattisgarh,Durg,1946.2,503.1,31.9,107.0,38.7,...,21.0,200.0,340.0,344.0,212.0,61.0,14.0,4.0,1277.0,164
1,1,1967,14,Chhattisgarh,Durg,1946.2,502.9,33.2,107.1,36.7,...,21.0,200.0,340.0,344.0,212.0,61.0,14.0,4.0,1277.0,164
2,1,1968,14,Chhattisgarh,Durg,1946.2,501.2,34.1,110.2,36.7,...,21.0,200.0,340.0,344.0,212.0,61.0,14.0,4.0,1277.0,164
3,1,1969,14,Chhattisgarh,Durg,1946.2,500.0,35.9,109.6,35.0,...,21.0,200.0,340.0,344.0,212.0,61.0,14.0,4.0,1277.0,164
4,1,1970,14,Chhattisgarh,Durg,1946.2,498.9,34.3,113.0,33.1,...,21.0,200.0,340.0,344.0,212.0,61.0,14.0,4.0,1277.0,164

In [169]:
biophysical_df.shape

(13258, 44)

In [156]:
crops_df.head()

,Dist Code,Year,State Code,State Name,Dist Name,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha),WHEAT AREA (1000 ha),WHEAT PRODUCTION (1000 tons),...,SUGARCANE YIELD (Kg per ha),COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),FRUITS AREA (1000 ha),VEGETABLES AREA (1000 ha),FRUITS AND VEGETABLES AREA (1000 ha),POTATOES AREA (1000 ha),ONION AREA (1000 ha),FODDER AREA (1000 ha)
0,1,1966,14,Chhattisgarh,Durg,548.0,185.0,337.59,44.0,20.0,...,1777.78,0.0,0.0,0.0,5.95,6.64,12.59,0.01,0.60,0.47
1,1,1967,14,Chhattisgarh,Durg,547.0,409.0,747.71,50.0,26.0,...,1500.00,0.0,0.0,0.0,5.77,7.24,13.02,0.01,0.56,1.23
2,1,1968,14,Chhattisgarh,Durg,556.3,468.0,841.27,53.7,30.0,...,1000.00,0.0,0.0,0.0,5.41,7.40,12.81,0.10,0.58,1.02
3,1,1969,14,Chhattisgarh,Durg,563.4,400.8,711.40,49.4,26.5,...,1900.00,0.0,0.0,0.0,5.52,7.16,12.69,0.01,0.56,0.84
4,1,1970,14,Chhattisgarh,Durg,571.6,473.6,828.55,44.2,29.0,...,2000.00,0.0,0.0,0.0,5.45,7.19,12.64,0.02,0.52,0.42

In [168]:
crops_df.shape

(16146, 80)

In [161]:
inputs_df.head()

,Dist Code,Year,State Code,State Name,Dist Name,NITROGEN CONSUMPTION (tons),NITROGEN SHARE IN NPK (Percent),NITROGEN PER HA OF NCA (Kg per ha),NITROGEN PER HA OF GCA (Kg per ha),PHOSPHATE CONSUMPTION (tons),...,TOTAL PER HA OF NCA (Kg per ha),TOTAL PER HA OF GCA (Kg per ha),NITROGEN KHARIF CONSUMPTION (tons),NITROGEN RABI CONSUMPTION (tons),PHOSPHATE KHARIF CONSUMPTION (tons),PHOSPHATE RABI CONSUMPTION (tons),POTASH KHARIF CONSUMPTION (tons),POTASH RABI CONSUMPTION (tons),TOTAL KHARIF CONSUMPTION (tons),TOTAL RABI CONSUMPTION (tons)
0,1,1990,14,Chhattisgarh,Durg,22144.0,64.16,21.33,16.24,9038.0,...,33.24,25.31,19473.0,2671.0,6665.0,2373.0,2173.0,1159.0,28311.0,6203.0
1,1,1991,14,Chhattisgarh,Durg,19739.0,49.95,19.00,14.57,14503.0,...,38.03,29.16,17068.0,2671.0,12021.0,2482.0,4254.0,1025.0,33343.0,6178.0
2,1,1992,14,Chhattisgarh,Durg,25064.0,54.94,24.09,18.42,15323.0,...,43.84,33.53,17068.0,2671.0,12021.0,2482.0,4254.0,1025.0,33343.0,6178.0
3,1,1993,14,Chhattisgarh,Durg,22998.0,60.08,21.95,16.19,12674.0,...,36.54,26.95,22535.0,2529.0,12724.0,2599.0,4443.0,791.0,39702.0,5919.0
4,1,1994,14,Chhattisgarh,Durg,28961.0,62.36,27.60,19.92,14506.0,...,44.25,31.94,25864.0,3097.0,12740.0,1766.0,2294.0,681.0,40898.0,5544.0

In [166]:
inputs_df.shape

(8677, 28)

In [163]:
irrigation_df.head()

,Dist Code,Year,State Code,State Name,Dist Name,RICE IRRIGATED AREA (1000 ha),WHEAT IRRIGATED AREA (1000 ha),KHARIF SORGHUM IRRIGATED AREA (1000 ha),RABI SORGHUM IRRIGATED AREA (1000 ha),SORGHUM IRRIGATED AREA (1000 ha),...,FRUITS AND VEGETABLES IRRIGATED AREA (1000 ha),FODDER IRRIGATED AREA (1000 ha),CANALS AREA (1000 ha),TANKS AREA (1000 ha),TUBE WELLS AREA (1000 ha),OTHER WELLS AREA (1000 ha),TOTAL WELLS AREA (1000 ha),OTHER SOURCES AREA (1000 ha),NET AREA (1000 ha),GROSS AREA (1000 ha)
0,1,1966,14,Chhattisgarh,Durg,73.3,0.5,0.0,0.0,0.0,...,2.0,0.00,52.6,12.4,0.0,2.63,2.63,9.3,77.0,77.0
1,1,1967,14,Chhattisgarh,Durg,100.7,0.6,0.0,0.0,0.0,...,2.2,0.01,90.2,5.7,0.0,3.07,3.07,5.8,104.8,104.8
2,1,1968,14,Chhattisgarh,Durg,124.6,0.9,0.0,0.0,0.0,...,2.4,0.00,106.2,9.7,0.0,2.16,2.16,9.4,127.5,129.1
3,1,1969,14,Chhattisgarh,Durg,130.8,0.8,0.0,0.0,0.0,...,2.2,0.00,111.0,10.1,0.0,2.79,2.79,11.8,135.2,135.2
4,1,1970,14,Chhattisgarh,Durg,131.3,1.0,0.0,0.0,0.0,...,2.3,0.01,113.1,9.3,0.0,3.03,3.03,10.3,134.2,135.8

In [167]:
irrigation_df.shape

(15763, 33)

In [170]:
inputs_irr = pd.merge(irrigation_df, inputs_df, how='inner',on=['Dist Code', 'Year','State Code', 'State Name','Dist Name'])

In [171]:
inputs_irr

,Dist Code,Year,State Code,State Name,Dist Name,RICE IRRIGATED AREA (1000 ha),WHEAT IRRIGATED AREA (1000 ha),KHARIF SORGHUM IRRIGATED AREA (1000 ha),RABI SORGHUM IRRIGATED AREA (1000 ha),SORGHUM IRRIGATED AREA (1000 ha),...,TOTAL PER HA OF NCA (Kg per ha),TOTAL PER HA OF GCA (Kg per ha),NITROGEN KHARIF CONSUMPTION (tons),NITROGEN RABI CONSUMPTION (tons),PHOSPHATE KHARIF CONSUMPTION (tons),PHOSPHATE RABI CONSUMPTION (tons),POTASH KHARIF CONSUMPTION (tons),POTASH RABI CONSUMPTION (tons),TOTAL KHARIF CONSUMPTION (tons),TOTAL RABI CONSUMPTION (tons)
0,1,1990,14,Chhattisgarh,Durg,215.580,3.76,-1.0,-1.0,-1.0,...,33.24,25.31,19473.0,2671.0,6665.0,2373.0,2173.0,1159.0,28311.0,6203.0
1,1,1991,14,Chhattisgarh,Durg,259.190,4.65,-1.0,-1.0,-1.0,...,38.03,29.16,17068.0,2671.0,12021.0,2482.0,4254.0,1025.0,33343.0,6178.0
2,1,1992,14,Chhattisgarh,Durg,270.300,4.66,-1.0,-1.0,-1.0,...,43.84,33.53,17068.0,2671.0,12021.0,2482.0,4254.0,1025.0,33343.0,6178.0
3,1,1993,14,Chhattisgarh,Durg,280.480,5.73,-1.0,-1.0,-1.0,...,36.54,26.95,22535.0,2529.0,12724.0,2599.0,4443.0,791.0,39702.0,5919.0
4,1,1994,14,Chhattisgarh,Durg,283.760,6.81,-1.0,-1.0,-1.0,...,44.25,31.94,25864.0,3097.0,12740.0,1766.0,2294.0,681.0,40898.0,5544.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7417,917,2013,15,Jharkhand,Singhbhum,9.260,1.46,0.0,0.0,0.0,...,16.08,14.28,1905.0,1891.0,123.0,269.0,18.0,25.0,2046.0,2185.0
7418,917,2014,15,Jharkhand,Singhbhum,11.250,2.46,0.0,0.0,0.0,...,12.99,11.43,2155.0,770.0,314.0,13.0,14.0,0.0,2481.0,783.0
7419,917,2015,15,Jharkhand,Singhbhum,6.450,1.88,0.0,0.0,0.0,...,18.43,15.07,2653.0,714.0,672.0,143.0,155.0,0.0,3480.0,857.0
7420,917,2016,15,Jharkhand,Singhbhum,1.400,0.38,0.0,0.0,0.0,...,12.14,10.28,1507.0,509.0,324.0,105.0,20.0,0.0,1851.0,614.0
7421,917,2017,15,Jharkhand,Singhbhum,1.834,0.00,0.0,0.0,0.0,...,-1.00,-1.00,2277.0,310.0,911.0,689.0,28.0,94.0,3216.0,1093.0

In [172]:
inputs_irr_crops = pd.merge(inputs_irr, crops_df, how='inner',on=['Dist Code', 'Year','State Code', 'State Name','Dist Name'])

In [173]:
inputs_irr_crops.head()

,Dist Code,Year,State Code,State Name,Dist Name,RICE IRRIGATED AREA (1000 ha),WHEAT IRRIGATED AREA (1000 ha),KHARIF SORGHUM IRRIGATED AREA (1000 ha),RABI SORGHUM IRRIGATED AREA (1000 ha),SORGHUM IRRIGATED AREA (1000 ha),...,SUGARCANE YIELD (Kg per ha),COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),FRUITS AREA (1000 ha),VEGETABLES AREA (1000 ha),FRUITS AND VEGETABLES AREA (1000 ha),POTATOES AREA (1000 ha),ONION AREA (1000 ha),FODDER AREA (1000 ha)
0,1,1990,14,Chhattisgarh,Durg,215.58,3.76,-1.0,-1.0,-1.0,...,1428.57,0.00,0.0,0.0,4.26,14.64,18.90,0.06,0.12,0.0
1,1,1991,14,Chhattisgarh,Durg,259.19,4.65,-1.0,-1.0,-1.0,...,1956.52,0.00,0.0,0.0,4.42,15.04,19.46,0.06,0.56,0.0
2,1,1992,14,Chhattisgarh,Durg,270.30,4.66,-1.0,-1.0,-1.0,...,1714.29,0.02,0.0,0.0,4.19,16.30,20.48,0.06,0.71,0.0
3,1,1993,14,Chhattisgarh,Durg,280.48,5.73,-1.0,-1.0,-1.0,...,1777.78,0.03,0.0,0.0,3.90,16.97,20.87,0.07,0.74,0.0
4,1,1994,14,Chhattisgarh,Durg,283.76,6.81,-1.0,-1.0,-1.0,...,1750.00,0.00,0.0,0.0,4.07,16.66,20.74,0.06,0.65,0.0

In [174]:
inputs_irr_crops.shape

(7410, 131)

In [175]:
df = pd.merge(inputs_irr_crops, biophysical_df, how='inner',on=['Dist Code', 'Year','State Code', 'State Name','Dist Name'])

In [176]:
df.head()

,Dist Code,Year,State Code,State Name,Dist Name,RICE IRRIGATED AREA (1000 ha),WHEAT IRRIGATED AREA (1000 ha),KHARIF SORGHUM IRRIGATED AREA (1000 ha),RABI SORGHUM IRRIGATED AREA (1000 ha),SORGHUM IRRIGATED AREA (1000 ha),...,MAY NORMAL RAINFALL (Millimeters),JUNE NORMAL RAINFALL (Millimeters),JULY NORMAL RAINFALL (Millimeters),AUGUST NORMAL RAINFALL (Millimeters),SEPTEMBER NORMAL RAINFALL (Millimeters),OCTOBER NORMAL RAINFALL (Millimeters),NOVEMBER NORMAL RAINFALL (Millimeters),DECEMBER NORMAL RAINFALL (Millimeters),ANNUAL NORMAL RAINFALL (Millimeters),LENGTH OF GROWING PERIOD DAYS (Number)
0,1,1990,14,Chhattisgarh,Durg,215.58,3.76,-1.0,-1.0,-1.0,...,21.0,200.0,340.0,344.0,212.0,61.0,14.0,4.0,1277.0,164
1,1,1991,14,Chhattisgarh,Durg,259.19,4.65,-1.0,-1.0,-1.0,...,21.0,200.0,340.0,344.0,212.0,61.0,14.0,4.0,1277.0,164
2,1,1992,14,Chhattisgarh,Durg,270.30,4.66,-1.0,-1.0,-1.0,...,21.0,200.0,340.0,344.0,212.0,61.0,14.0,4.0,1277.0,164
3,1,1993,14,Chhattisgarh,Durg,280.48,5.73,-1.0,-1.0,-1.0,...,21.0,200.0,340.0,344.0,212.0,61.0,14.0,4.0,1277.0,164
4,1,1994,14,Chhattisgarh,Durg,283.76,6.81,-1.0,-1.0,-1.0,...,21.0,200.0,340.0,344.0,212.0,61.0,14.0,4.0,1277.0,164

In [177]:
df.shape

(6420, 170)

In [215]:
df.to_csv('Tata Dataframe.csv')

In [210]:
pd.set_option('display.max_columns', None)

In [214]:
df.head()

,Dist Code,Year,State Code,State Name,Dist Name,RICE IRRIGATED AREA (1000 ha),WHEAT IRRIGATED AREA (1000 ha),KHARIF SORGHUM IRRIGATED AREA (1000 ha),RABI SORGHUM IRRIGATED AREA (1000 ha),SORGHUM IRRIGATED AREA (1000 ha),PEARL MILLET IRRIGATED AREA (1000 ha),MAIZE IRRIGATED AREA (1000 ha),FINGER MILLET IRRIGATED AREA (1000 ha),BARLEY IRRIGATED AREA (1000 ha),CHICKPEA IRRIGATED AREA (1000 ha),PIGEONPEA IRRIGATED AREA (1000 ha),MINOR PULSES IRRIGATED AREA (1000 ha),PULSES IRRIGATED AREA (1000 ha),GROUNDNUT IRRIGATED AREA (1000 ha),SESAMUM IRRIGATED AREA (1000 ha),LINSEED IRRIGATED AREA (1000 ha),SUGARCANE IRRIGATED AREA (1000 ha),COTTON IRRIGATED AREA (1000 ha),FRUITS AND VEGETABLES IRRIGATED AREA (1000 ha),FODDER IRRIGATED AREA (1000 ha),CANALS AREA (1000 ha),TANKS AREA (1000 ha),TUBE WELLS AREA (1000 ha),OTHER WELLS AREA (1000 ha),TOTAL WELLS AREA (1000 ha),OTHER SOURCES AREA (1000 ha),NET AREA (1000 ha),GROSS AREA (1000 ha),NITROGEN CONSUMPTION (tons),NITROGEN SHARE IN NPK (Percent),NITROGEN PER HA OF NCA (Kg per ha),NITROGEN PER HA OF GCA (Kg per ha),PHOSPHATE CONSUMPTION (tons),PHOSPHATE SHARE IN NPK (Percent),PHOSPHATE PER HA OF NCA (Kg per ha),PHOSPHATE PER HA OF GCA (Kg per ha),POTASH CONSUMPTION (tons),POTASH SHARE IN NPK (Percent),POTASH PER HA OF NCA (Kg per ha),POTASH PER HA OF GCA (Kg per ha),TOTAL CONSUMPTION (tons),TOTAL PER HA OF NCA (Kg per ha),TOTAL PER HA OF GCA (Kg per ha),NITROGEN KHARIF CONSUMPTION (tons),NITROGEN RABI CONSUMPTION (tons),PHOSPHATE KHARIF CONSUMPTION (tons),PHOSPHATE RABI CONSUMPTION (tons),POTASH KHARIF CONSUMPTION (tons),POTASH RABI CONSUMPTION (tons),TOTAL KHARIF CONSUMPTION (tons),TOTAL RABI CONSUMPTION (tons),RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha),WHEAT AREA (1000 ha),WHEAT PRODUCTION (1000 tons),WHEAT YIELD (Kg per ha),KHARIF SORGHUM AREA (1000 ha),KHARIF SORGHUM PRODUCTION (1000 tons),KHARIF SORGHUM YIELD (Kg per ha),RABI SORGHUM AREA (1000 ha),RABI SORGHUM PRODUCTION (1000 tons),RABI SORGHUM YIELD (Kg per ha),SORGHUM AREA (1000 ha),SORGHUM PRODUCTION (1000 tons),SORGHUM YIELD (Kg per ha),PEARL MILLET AREA (1000 ha),PEARL MILLET PRODUCTION (1000 tons),PEARL MILLET YIELD (Kg per ha),MAIZE AREA (1000 ha),MAIZE PRODUCTION (1000 tons),MAIZE YIELD (Kg per ha),FINGER MILLET AREA (1000 ha),FINGER MILLET PRODUCTION (1000 tons),FINGER MILLET YIELD (Kg per ha),BARLEY AREA (1000 ha),BARLEY PRODUCTION (1000 tons),BARLEY YIELD (Kg per ha),CHICKPEA AREA (1000 ha),CHICKPEA PRODUCTION (1000 tons),CHICKPEA YIELD (Kg per ha),PIGEONPEA AREA (1000 ha),PIGEONPEA PRODUCTION (1000 tons),PIGEONPEA YIELD (Kg per ha),MINOR PULSES AREA (1000 ha),MINOR PULSES PRODUCTION (1000 tons),MINOR PULSES YIELD (Kg per ha),GROUNDNUT AREA (1000 ha),GROUNDNUT PRODUCTION (1000 tons),GROUNDNUT YIELD (Kg per ha),SESAMUM AREA (1000 ha),SESAMUM PRODUCTION (1000 tons),SESAMUM YIELD (Kg per ha),RAPESEED AND MUSTARD AREA (1000 ha),RAPESEED AND MUSTARD PRODUCTION (1000 tons),RAPESEED AND MUSTARD YIELD (Kg per ha),SAFFLOWER AREA (1000 ha),SAFFLOWER PRODUCTION (1000 tons),SAFFLOWER YIELD (Kg per ha),CASTOR AREA (1000 ha),CASTOR PRODUCTION (1000 tons),CASTOR YIELD (Kg per ha),LINSEED AREA (1000 ha),LINSEED PRODUCTION (1000 tons),LINSEED YIELD (Kg per ha),SUNFLOWER AREA (1000 ha),SUNFLOWER PRODUCTION (1000 tons),SUNFLOWER YIELD (Kg per ha),SOYABEAN AREA (1000 ha),SOYABEAN PRODUCTION (1000 tons),SOYABEAN YIELD (Kg per ha),OILSEEDS AREA (1000 ha),OILSEEDS PRODUCTION (1000 tons),OILSEEDS YIELD (Kg per ha),SUGARCANE AREA (1000 ha),SUGARCANE PRODUCTION (1000 tons),SUGARCANE YIELD (Kg per ha),COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),FRUITS AREA (1000 ha),VEGETABLES AREA (1000 ha),FRUITS AND VEGETABLES AREA (1000 ha),POTATOES AREA (1000 ha),ONION AREA (1000 ha),FODDER AREA (1000 ha),TOTAL AREA (1000 ha),FOREST AREA (1000 ha),BARREN AND UNCULTIVABLE LAND AREA (1000 ha),LAND PUT TO NONAGRICULTURAL USE AREA (1000 ha),CULTIVABLE WASTE LAND AREA (1000 ha),PERMANENT PASTURES AREA (1000 ha),OTHER FALLOW AREA (1000 ha),CURRENT FALLOW AREA (1000 ha),NET CROPPED AREA (1000 ha),GROSS CROPPED AREA (1000 ha),CROPING INTENSITY (Percent),JANUARY RAINFALL (Millimeters),FEBRUARY RAINFALL (Millimeters),MARCH RAINFALL (Millimeters),APRIL RAINFALL (Millimeters),MAY RAINFALL (Millimeters),JUNE RAINFALL (Millimeters),JULY RAINFALL (Millimeters),AUGUST RAINFALL (Millimeters),SEPTEMBER RAINFALL (Millimeters),OCTOBER RAINFALL (Millimeters),NOVEMBER RAINFALL (Millimeters),DECEMBER RAINFALL (Millimeters),ANNUAL RAINFALL (Millimeters),SOIL TYPE PERCENT (Percent),JANUARY NORMAL RAINFALL (Millimeters),FEBRUARY NORMAL RAINFALL (Millimeters),MARCH NORMAL RAINFALL (Millimeters),APRIL NORMAL RAINFALL (Millimeters),MAY NORMAL RAINFALL (Millimeters),JUNE NORMAL RAINFALL (Millimeters),JULY NORMAL RAINFALL (Millimeters),AUGUST NORMAL RAINFALL (Millimeters),SEPTEMBER NORMAL RAINFALL (Millimeters),OCTOBER NORMAL RAINFALL (Millimeters),NOVEMBER NORMAL RAINFALL (Millimeters),DECEMBER NORMAL RAINFALL (Millimeters),ANNUAL NORMAL RAINFALL (Millimeters),LENGTH OF GROWING PERIOD DAYS (Number)
0,1,1990,14,Chhattisgarh,Durg,215.58,3.76,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,3.39,-1.0,156.79,3.69,7.49,6.59,16.79,24.49,209.89,230.49,22144.0,64.16,21.33,16.24,9038.0,26.19,8.70,6.63,3332.0,9.65,3.21,2.44,34514.0,33.24,25.31,19473.0,2671.0,6665.0,2373.0,2173.0,1159.0,28311.0,6203.0,682.9,806.8,1181.43,36.2,24.8,685.08,0.5,0.4,800.00,0.0,0.0,0.00,0.5,0.4,800.00,0.00,0.00,0.0,4.0,3.8,950.00,0.0,0.0,0.0,0.1,0.1,1000.0,126.2,64.6,511.89,19.0,19.6,1031.58,272.1,95.2,349.87,3.4,2.9,852.94,7.6,1.2,157.89,2.75,1.58,574.55,0.2,0.0,0.0,0.0,0.0,0.0,67.7,12.3,181.68,0.09,0.00,0.00,2.03,1.58,778.33,84.0,19.6,233.33,0.07,0.1,1428.57,0.00,0.0,0.0,4.26,14.64,18.90,0.06,0.12,0.0,1624.59,133.96,43.21,126.42,39.26,132.53,44.24,49.98,1035.69,1361.09,131.42,0.0,11.6,0.0,0.0,129.4,305.8,174.9,251.1,305.5,131.4,0.0,0.0,1309.7,LOAMY ALFISOLS - 60% ; USTALF/USTOLLS - 40%,16.0,27.0,19.0,19.0,21.0,200.0,340.0,344.0,212.0,61.0,14.0,4.0,1277.0,164
1,1,1991,14,Chhattisgarh,Durg,259.19,4.65,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,4.14,-1.0,190.35,12.92,10.64,9.78,23.13,26.35,260.89,276.16,19739.0,49.95,19.00,14.57,14503.0,36.70,13.96,10.70,5279.0,13.36,5.08,3.90,39521.0,38.03,29.16,17068.0,2671.0,12021.0,2482.0,4254.0,1025.0,33343.0,6178.0,680.8,773.6,1136.31,34.8,21.6,620.69,2.3,1.8,782.61,0.0,0.0,0.00,2.3,1.8,782.61,0.00,0.00,0.0,3.8,3.5,921.05,0.0,0.0,0.0,0.0,0.0,0.0,117.2,75.7,645.90,21.9,22.8,1041.10,269.9,134.8,499.44,2.6,2.7,1038.46,3.5,0.5,142.86,2.03,1.17,576.35,0.2,0.1,500.0,0.1,0.0,0.0,70.0,18.3,261.43,0.12,0.03,250.00,4.82,3.17,657.68,86.4,26.0,300.93,0.46,0.9,1956.52,0.00,0.0,0.0,4.42,15.04,19.46,0.06,0.56,0.0,1977.29,485.79,27.69,139.89,37.59,138.59,44.59,47.49,1036.39,1352.39,130.49,0.0,0.0,18.4,0.0,0.0,156.4,260.5,260.1,41.5,23.0,0.0,5.0,764.9,LOAMY ALFISOLS - 60% ; USTALF/USTOLLS - 40%,16.0,27.0,19.0,19.0,21.0,200.0,340.0,344.0,212.0,61.0,14.0,4.0,1277.0,164
2,1,1992,14,Chhattisgarh,Durg,270.30,4.66,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,4.79,-1.0,179.91,10.51,15.08,10.20,27.99,43.21,269.73,288.32,25064.0,54.94,24.09,18.42,15323.0,33.59,14.73,11.26,5234.0,11.47,5.03,3.85,45621.0,43.84,33.53,17068.0,2671.0,12021.0,2482.0,4254.0,1025.0,33343.0,6178.0,688.0,777.3,1129.80,56.1,20.5,365.42,1.1,1.0,909.09,0.0,0.0,0.00,1.1,1.0,909.09,0.00,0.00,0.0,4.4,6.0,1363.64,0.0,0.0,0.0,0.0,0.0,0.0,112.6,63.4,563.06,22.8,23.6,1035.09,270.0,104.9,388.52,1.6,2.3,1437.50,2.4,0.4,166.67,3.16,1.90,601.27,0.4,0.1,250.0,0.1,0.0,0.0,73.4,16.6,226.16,0.09,0.02,222.22,9.52,6.72,705.88,90.8,28.2,310.57,0.35,0.6,1714.29,0.02,0.0,0.0,4.19,16.30,20.48,0.06,0.71,0.0,1977.19,486.69,29.59,142.19,39.99,133.29,44.79,43.69,1037.89,1357.69,130.81,0.0,0.0,5.0,0.0,0.0,65.2,401.9,361.7,-1.0,-1.0,-1.0,0.0,923.2,LOAMY ALFISOLS - 60% ; USTALF/USTOLLS - 40%,16.0,27.0,19.0,19.0,21.0,200.0,340.0,344.0,212.0,61.0,14.0,4.0,1277.0,164
3,1,1993,14,Chhattisgarh,Durg,280.48,5.73,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,5.49,-1.0,192.53,10.48,15.95,9.27,27.93,35.75,274.83,300.18,22998.0,60.08,21.95,16.19,12674.0,33.11,12.10,8.92,2606.0,6.81,2.49,1.84,38278.0,36.54,26.95,22535.0,2529.0,12724.0,2599.0,4443.0,791.0,39702.0,5919.0,703.6,876.7,1246.02,33.8,23.8,704.14,0.2,0.2,1000.00,2.4,3.4,1416.67,2.6,3.6,1384.62,0.01,0.01,1000.0,3.8,4.2,1105.26,0.0,0.0,0.0,0.0,0.0,0.0,110.6,69.5,628.39,17.3,18.8,1086.71,303.4,130.0,428.48,2.5,2.6,1040.00,3.6,0.6,166.67,3.13,1.58,504.79,0.4,0.1,250.0,0.0,0.0,0.0,85.4,17.8,208.43,0.23,0.07,304.35,28.88,25.64,887.81,124.2,48.4,389.69,0.45,0.8,1777.78,0.03,0.0,0.0,3.90,16.97,20.87,0.07,0.74,0.0,1902.26,410.73,28.38,143.21,39.59,134.90,42.39,39.19,1044.89,1417.39,135.65,0.0,1.0,11.0,0.0,0.0,203.9,275.5,172.5,127.0,97.3,-1.0,-1.0,887.7,LOAMY ALFISOLS - 60% ; USTALF/USTOLLS - 40%,16.0,27.0,19.0,19.0,21.0,200.0,340.0,344.0,212.0,61.0,14.0,4.0,1277.0,164
4,1,1994,14,Chhattisgarh,Durg,283.76,6.81,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,5.48,-1.0,193.70,11.43,20.48,8.38,31.57,20.00,264.83,305.07,28961.0,62.36,27.60,19.92,14506.0,31.23,13.82,9.98,2975.0,6.41,2.83,2.05,46442.0,44.25,31.94,25864.0,3097.0,12740.0,1766.0,2294.0,681.0,40898.0,5544.0,726.8,967.9,1331.73,36.5,29.4,805.48,0.3,0.2,666.67,0.0,0.0,0.00,0.3,0.2,666.67,0.00,0.00,0.0,4.8,4.3,895.83,0.0,0.0,0.0,0.0,0.0,0.0,124.7,81.5,653.57,15.6,15.9,1019.23,315.7,127.2,402.91,1.2,1.2,1000.00,2.9,0.4,137.93,2.90,1.80,620.69,0.4,0.1,250.0,0.0,0.0,0.0,92.4,23.0,248.92,0.25,0.08,320.00,16.90,13.40,792.90,117.0,40.0,341.88,0.40,0.7,1750.00,0.00,0.0,0.0,4.07,16.66,20.74,0.06,0.65,0.0,1902.28,410.61,32.05,141.54,40.14,132.15,41.67,38.14,1046.77,1451.25,138.64,0.0,1.0,0.0,0.0,3.0,214.1,536.4,361.5,273.0,73.9,0.0,0.0,1462.9,LOAMY ALFISOLS - 60% ; USTALF/USTOLLS - 40%,16.0,27.0,19.0,19.0,21.0,200.0,340.0,344.0,212.0,61.0,14.0,4.0,1277.0,164

In [221]:
output_csv_path = "State District.csv"

In [222]:
# Extract unique state names and their corresponding districts
state_districts = landuse.groupby("State Name")["Dist Name"].unique().to_dict()

# Convert arrays to lists for better readability
state_districts = {state: list(districts) for state, districts in state_districts.items()}

# Display a preview of the extracted data
state_districts

{'Andhra Pradesh': ['Srikakulam',
  'Visakhapatnam',
  'East Godavari',
  'West Godavari',
  'Krishna',
  'Guntur',
  'S.P.S. Nellore',
  'Kurnool',
  'Ananthapur',
  'Kadapa YSR',
  'Chittoor'],
 'Assam': ['Cachar',
  'Darrang',
  'Dibrugarh',
  'Goalpara',
  'Kamrup',
  'Karbi Anglong',
  'Lakhimpur',
  'North Cachar Hil / Dima hasao',
  'Nagaon',
  'Sivasagar'],
 'Bihar': ['Champaran',
  'Muzaffarpur',
  'Darbhanga',
  'Saharsa',
  'Purnea',
  'Saran',
  'Patna',
  'Mungair',
  'Bhagalpur',
  'Shahabad (now part of Bhojpur district)',
  'Gaya'],
 'Chhattisgarh': ['Durg',
  'Bastar',
  'Raipur',
  'Bilaspur',
  'Raigarh',
  'Surguja'],
 'Gujarat': ['Ahmedabad',
  'Amreli',
  'Banaskantha',
  'Bharuch',
  'Vadodara / Baroda',
  'Bhavnagar',
  'Valsad',
  'Dangs',
  'Jamnagar',
  'Junagadh',
  'Kheda',
  'Kachchh',
  'Mahesana',
  'Panch Mahals',
  'Rajkot',
  'Sabar Kantha',
  'Surat',
  'Surendranagar'],
 'Haryana': ['Hissar',
  'Gurgaon',
  'Jind',
  'Mahendragarh / Narnaul',
  'Ambala',
  'Karnal',
  'Rohtak'],
 'Himachal Pradesh': ['Bilashpur',
  'Chamba',
  'Kangra',
  'Kinnaur',
  'Kullu',
  'Lahul & Spiti',
  'Solan',
  'Mandi',
  'Shimla',
  'Sirmaur'],
 'Jharkhand': ['Santhal Paragana / Dumka',
  'Hazaribagh',
  'Dhanbad',
  'Palamau',
  'Ranchi',
  'Singhbhum'],
 'Karnataka': ['Bangalore',
  'Kolar',
  'Tumkur',
  'Mysore',
  'Mandya',
  'Hassan',
  'Shimoge',
  'Chickmagalur',
  'Chitradurga',
  'Bellary',
  'Dharwad',
  'Belgaum',
  'Bijapur / Vijayapura',
  'Bidar',
  'Raichur',
  'Gulbarga / Kalaburagi',
  'Dakshina Kannada',
  'Uttara Kannada',
  'Kodagu / Coorg'],
 'Kerala': ['Alappuzha',
  'Kannur',
  'Eranakulam',
  'Kottayam',
  'Kozhikode',
  'Malappuram',
  'Palakkad',
  'Kollam',
  'Thrissur',
  'Thiruvananthapuram'],
 'Madhya Pradesh': ['Jabalpur',
  'Balaghat',
  'Chhindwara',
  'Narsinghpur',
  'Seoni / Shivani',
  'Mandla',
  'Sagar',
  'Damoh',
  'Tikamgarh',
  'Chhatarpur',
  'Panna',
  'Rewa',
  'Sidhi',
  'Satna',
  'Shahdol',
  'Gwalior',
  'Shivpuri',
  'Guna',
  'Datia',
  'Morena',
  'Bhind',
  'Indore',
  'Ratlam',
  'Ujjain',
  'Mandsaur',
  'Dewas',
  'Dhar',
  'Jhabua',
  'Khargone (West Nimar)',
  'Khandwa (East Nimar)',
  'Sehore',
  'Raisen',
  'Vidisha',
  'Betul',
  'Rajgarh',
  'Shajapur',
  'Hoshangabad'],
 'Maharashtra': ['Bombay',
  'Thane',
  'Raigarh',
  'Ratnagiri',
  'Nasik',
  'Dhule',
  'Jalgaon',
  'Ahmednagar',
  'Pune',
  'Satara',
  'Sangli',
  'Solapur',
  'Kolhapur',
  'Aurangabad',
  'Parbhani',
  'Beed',
  'Nanded',
  'Osmanabad',
  'Buldhana',
  'Akola',
  'Amarawati',
  'Yavatmal',
  'Wardha',
  'Nagpur',
  'Bhandara',
  'Chandrapur'],
 'Odisha': ['Balasore',
  'Bolangir',
  'Cuttack',
  'Dhenkanal',
  'Ganjam',
  'Kalahandi',
  'Keonjhar',
  'Koraput',
  'Mayurbhanja',
  'Phulbani ( Kandhamal )',
  'Puri',
  'Sambalpur',
  'Sundargarh'],
 'Punjab': ['Gurdaspur',
  'Amritsar',
  'Kapurthala',
  'Jalandhar',
  'Hoshiarpur',
  'Roopnagar / Ropar',
  'Ludhiana',
  'Ferozpur',
  'Bhatinda',
  'Sangrur',
  'Patiala'],
 'Rajasthan': ['Ajmer',
  'Alwar',
  'Banswara',
  'Barmer',
  'Bharatpur',
  'Bhilwara',
  'Bikaner',
  'Bundi',
  'Chittorgarh',
  'Churu',
  'Dungarpur',
  'Ganganagar',
  'Jaipur',
  'Jaisalmer',
  'Jalore',
  'Jhalawar',
  'Jhunjhunu',
  'Jodhpur',
  'Kota',
  'Nagaur',
  'Pali',
  'Swami Madhopur',
  'Sikar',
  'Sirohi',
  'Tonk',
  'Udaipur'],
 'Tamil Nadu': ['Chengalpattu',
  'South Arcot / Cuddalore',
  'North Arcot / Vellore',
  'Salem',
  'Coimbatore',
  'Tiruchirapalli / Trichy',
  'Thanjavur',
  'Madurai',
  'Ramananthapuram',
  'Thirunelveli',
  'The Nilgiris',
  'Kanyakumari'],
 'Telangana': ['Hyderabad',
  'Nizamabad',
  'Medak',
  'Mahabubnagar',
  'Nalgonda',
  'Warangal',
  'Khammam',
  'Karimnagar',
  'Adilabad'],
 'Uttar Pradesh': ['Saharanpur',
  'Muzaffarnagar',
  'Meerut',
  'Buland Shahar',
  'Aligarh',
  'Mathura',
  'Agra',
  'Mainpuri',
  'Etah',
  'Bareilly',
  'Budaun',
  'Moradabad',
  'Shahjahanpur',
  'Pilibhit',
  'Rampur',
  'Bijnor',
  'Farrukhabad',
  'Etawah',
  'Kanpur',
  'Fatehpur',
  'Allahabad',
  'Jhansi',
  'Jalaun',
  'Hamirpur',
  'Banda',
  'Varanasi',
  'Mirzapur',
  'Jaunpur',
  'Ghazipur',
  'Ballia',
  'Gorakhpur',
  'Deoria',
  'Basti',
  'Azamgarh',
  'Lucknow',
  'Unnao',
  'Rae-Bareily',
  'Sitapur',
  'Hardoi',
  'Kheri',
  'Faizabad',
  'Gonda',
  'Bahraich',
  'Sultanpur',
  'Pratapgarh',
  'Barabanki'],
 'Uttarakhand': ['Nainital',
  'Almorah',
  'Pithorgarh',
  'Chamoli',
  'Uttar Kashi',
  'Tehri Garhwal',
  'Garhwal',
  'Dehradun'],
 'West Bengal': ['24 Parganas',
  'Nadia',
  'Murshidabad',
  'Burdwan',
  'Birbhum',
  'Bankura',
  'Hooghly',
  'Howrah',
  'Jalpaiguri',
  'Darjeeling',
  'Malda',
  'Cooch Behar',
  'Purulia',
  'Medinipur',
  'West Dinajpur']}

In [223]:
import csv
with open(output_csv_path, mode="w", newline="", encoding="utf-8") as file:
    writer = csv.writer(file)
    writer.writerow(["State", "District"])  # Writing the header row

    for state, districts in state_districts.items():
        for district in districts:
            writer.writerow([state, district])  # Writing each district in a separate row

print(f"CSV file saved as {output_csv_path}")

CSV file saved as State District.csv

### State And District Nutrient Dataset

In [241]:
andaman_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Andaman Nicobar/MacroNutrient.csv')
andaman_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Andaman Nicobar/MicroNutrient.csv')
andhra_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Andhra Pradesh/MacroNutrient.csv')
andhra_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Andhra Pradesh/MicroNutrient.csv')
arunachal_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Arunachal Pradesh/MacroNutrient.csv')
arunachal_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Arunachal Pradesh/MicroNutrient.csv')
assam_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Assam/MacroNutrient.csv')
assam_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Assam/MicroNutrient.csv')
bihar_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Bihar/MacroNutrient.csv')
bihar_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Bihar/MicroNutrient.csv')
chattisgarh_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Chattisgarh/MacroNutrient.csv')
chattisgarh_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Chattisgarh/MicroNutrient.csv')
dadar_and_nagar_haveli_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Dadar and Nagar Haveli and Daman and Diu/MacroNutrient.csv')
dadar_and_nagar_haveli_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Dadar and Nagar Haveli and Daman and Diu/MicroNutrient.csv')
goa_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Goa/MacroNutrient.csv')
goa_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Goa/MicroNutrient.csv')
gujarat_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Gujarat/MacroNutrient.csv')
gujarat_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Gujarat/MicroNutrient.csv')
haryana_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Haryana/MacroNutrient.csv')
haryana_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Haryana/MicroNutrient.csv')
himachal_pradesh_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Himachal Pradesh/MacroNutrient.csv')
himachal_pradesh_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Himachal Pradesh/MicroNutrient.csv')
jammu_and_kashmir_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Jammu and Kashmir/MacroNutrient.csv')
jammu_and_kashmir_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Jammu and Kashmir/MicroNutrient.csv')
jharkhand_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Jharkhand/MacroNutrient.csv')
jharkhand_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Jharkhand/MicroNutrient.csv')
karnataka_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Karnataka/MacroNutrient.csv')
karnataka_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Karnataka/MicroNutrient.csv')
kerala_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Kerala/MacroNutrient.csv')  
kerala_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Kerala/MicroNutrient.csv')
ladakh_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Ladakh/MacroNutrient.csv')
ladakh_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Ladakh/MicroNutrient.csv')
madhya_pradesh_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Madhya Pradesh/MacroNutrient.csv')
madhya_pradesh_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Madhya Pradesh/MicroNutrient.csv')
maharashtra_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Maharashtra/MacroNutrient.csv')
maharashtra_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Maharashtra/MicroNutrient.csv')
manipur_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Manipur/MacroNutrient.csv')
manipur_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Manipur/MicroNutrient.csv')
meghalaya_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Meghalaya/MacroNutrient.csv')
meghalaya_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Meghalaya/MicroNutrient.csv')
mizoram_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Mizoram/MacroNutrient.csv')
mizoram_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Mizoram/MicroNutrient.csv')
nagaland_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Nagaland/MacroNutrient.csv')
nagaland_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Nagaland/MicroNutrient.csv')
odisha_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Odisha/MacroNutrient.csv')
odisha_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Odisha/MicroNutrient.csv')
puducherry_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Puducherry/MacroNutrient.csv')
puducherry_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Puducherry/MicroNutrient.csv')
punjab_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Punjab/MacroNutrient.csv')
punjab_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Punjab/MicroNutrient.csv')
rajasthan_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Rajasthan/MacroNutrient.csv')
rajasthan_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Rajasthan/MicroNutrient.csv')
sikkim_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Sikkim/MacroNutrient.csv')
sikkim_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Sikkim/MicroNutrient.csv')
tamil_nadu_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Tamil Nadu/MacroNutrient.csv')
tamil_nadu_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Tamil Nadu/MicroNutrient.csv')
telangana_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Telangana/MacroNutrient.csv')
telangana_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Telangana/MicroNutrient.csv')
tripura_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Tripura/MacroNutrient.csv')
tripura_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Tripura/MicroNutrient.csv')
uttar_pradesh_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Uttar Pradesh/MacroNutrient.csv')
uttar_pradesh_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Uttar Pradesh/MicroNutrient.csv')
uttarakhand_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Uttarakhand/MacroNutrient.csv')
uttarakhand_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/Uttarakhand/MicroNutrient.csv')   
west_bengal_macro = pd.read_csv('State and District wise Nutrient Percentage Dataset/West Bengal/MacroNutrient.csv')
west_bengal_micro = pd.read_csv('State and District wise Nutrient Percentage Dataset/West Bengal/MicroNutrient.csv')

In [242]:
andaman_macro

,District,Nitrogen - High,Nitrogen - Medium,Nitrogen - Low,Phosphorous - High,Phosphorous - Medium,Phosphorous - Low,Potassium - High,Potassium - Medium,Potassium - Low,OC - High,OC - Medium,OC - Low,EC - Saline,EC - Non Saline,pH - Acidic,pH - Neutral,pH - Alkaline
0,SOUTH ANDAMANS,0%,5.9405940594059405%,94.05940594059406%,0%,14.851485148514852%,85.14851485148515%,0%,7.425742574257426%,92.57425742574257%,0%,0.9900990099009901%,99.00990099009901%,7.920792079207921%,92.07920792079207%,14.356435643564357%,85.64356435643565%,0%
1,NORTH AND MIDDLE ANDAMAN,0%,6%,94%,0%,9%,91%,0%,9%,91%,0%,0%,100%,5%,95%,23%,77%,0%

In [245]:
andaman_micro

,District,Copper - Sufficient,Copper - Deficient,Boron - Sufficient,Boron - Deficient,S - Sufficient,S - Deficient,Fe - Sufficient,Fe - Deficient,Zn - Sufficient,Zn - Deficient,Mn - Sufficient,Mn - Deficient
0,NICOBARS,96.98492462311557%,3.0150753768844223%,100%,0%,0%,100%,100%,0%,76.88442211055276%,23.115577889447238%,100%,0%
1,SOUTH ANDAMANS,89.75069252077563%,10.249307479224377%,99.7229916897507%,0.2770083102493075%,1.3850415512465375%,98.61495844875347%,99.7229916897507%,0.2770083102493075%,79.50138504155125%,20.498614958448755%,99.7229916897507%,0.2770083102493075%
2,NORTH AND MIDDLE ANDAMAN,100%,0%,100%,0%,0%,100%,100%,0%,100%,0%,100%,0%

In [250]:
andaman = pd.merge(andaman_macro, andaman_micro, how='outer')

In [251]:
andaman

,District,Nitrogen - High,Nitrogen - Medium,Nitrogen - Low,Phosphorous - High,Phosphorous - Medium,Phosphorous - Low,Potassium - High,Potassium - Medium,Potassium - Low,OC - High,OC - Medium,OC - Low,EC - Saline,EC - Non Saline,pH - Acidic,pH - Neutral,pH - Alkaline,Copper - Sufficient,Copper - Deficient,Boron - Sufficient,Boron - Deficient,S - Sufficient,S - Deficient,Fe - Sufficient,Fe - Deficient,Zn - Sufficient,Zn - Deficient,Mn - Sufficient,Mn - Deficient
0,NICOBARS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.98492462311557%,3.0150753768844223%,100%,0%,0%,100%,100%,0%,76.88442211055276%,23.115577889447238%,100%,0%
1,NORTH AND MIDDLE ANDAMAN,0%,6%,94%,0%,9%,91%,0%,9%,91%,0%,0%,100%,5%,95%,23%,77%,0%,100%,0%,100%,0%,0%,100%,100%,0%,100%,0%,100%,0%
2,SOUTH ANDAMANS,0%,5.9405940594059405%,94.05940594059406%,0%,14.851485148514852%,85.14851485148515%,0%,7.425742574257426%,92.57425742574257%,0%,0.9900990099009901%,99.00990099009901%,7.920792079207921%,92.07920792079207%,14.356435643564357%,85.64356435643565%,0%,89.75069252077563%,10.249307479224377%,99.7229916897507%,0.2770083102493075%,1.3850415512465375%,98.61495844875347%,99.7229916897507%,0.2770083102493075%,79.50138504155125%,20.498614958448755%,99.7229916897507%,0.2770083102493075%